@use "theme";
@use "mixin";
/*---------------------------------------*/
/*--------   9. ac_building.scss   ------*/
/*---------------------------------------*/

//건물-빌딩 페이지
.ac_manage_building {
  .place_section {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .left_area {
      position: relative;
      width: 55%;
      min-height: 550px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .only_place_box {
        background: #FFFFFF;
        @include mixin.border_common;
        border-radius: 5px;
        width: 100%;

        .place_box_tit {
          background: #FFFFFF;
          border-bottom: 0.4px solid rgba(167, 169, 172, 0.4);
          border-radius: 5px 5px 0px 0px;
          height: 70px;
          padding: 20px 20px;
          width: 100%;
          line-height: 26px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .place_box_image {
          height: 67%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .place_box_explain {
          background: #F9F9FB;
          border-top: 0.4px solid rgba(167, 169, 172, 0.4);
          border-radius: 0px 0px 5px 5px;
          height: 110px;
          overflow-y: auto;
          padding: 20px 20px;
        }
      }

      .place_box {
        position: relative;
        // width: 300px;
        width: 49%;
        min-height: 265px;
        margin-bottom: 34px;
        @include mixin.border_common;

        .btn_close {
          position: absolute;
          z-index: 1;
          width: 24px;
          height: 24px;
          top: -10px;
          right: -10px;
        }

        .btn_reset {
          position: absolute;
          z-index: 1;
          top: 10px;
          left: 10px;
          padding: 0 10px;
          font-size: 14px;
        }

        .space {
          width: 100%;
          height: 194px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          background-image: url('../images/sample_building_noimg.jpg');
          border-bottom: 0.4px solid rgba(167, 169, 172, 0.4);
          cursor: pointer;
        }

        .thumb_list_list {
          background-color: theme.$color_background;
          padding-top: 5px;

          .thumb_list_tc {
            margin-left: 10px;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
          }
        }

        .thumb_list {
          position: relative;
          width: 100%;
          height: calc(100% - 194px);
          display: flex;
          align-items: center;
          flex-wrap: nowrap;
          justify-content: flex-start;
          background-color: theme.$color_background;
          overflow-x: auto;
          border-radius: 5px;

          .thumbnail {
            position: relative;
            width: 45px;
            height: 45px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            background-image: url('../images/sample_teacher_noimg.jpg');
            @include mixin.border_common;
            margin: 0px 9px;
            flex: 0 0 auto;

            .btn_cancel {
              position: absolute;
              z-index: 1;
              top: -10px;
              right: -10px;
            }
          }
        }
      }
    }

    .right_area {
      position: relative;
      width: 35%;
      height: 550px;
      @include mixin.border_common;

      .placement_area {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0px 25px 10px;

        .title {
          font-weight: 500;
        }

        .list_area {
          position: relative;
          margin-top: 20px;
          width: 100%;
          height: 100%;

          .active,
          .tab-content {
            background-color: theme.$color_background;
          }

          .tab-content {
            padding: 10px;
            height: 475px;
            overflow-y: auto;
          }

          .tab-pane ul li {
            padding: 5px 0;
          }

          .info_box {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 15px;
            @include mixin.border_common;
            background: #fff;

            .img {
              width: 50px;
              height: 50px;
              @include mixin.border_common;
              background-repeat: no-repeat;
              background-position: center center;
              background-size: cover;
              background-image: url('../images/sample_building_noimg.jpg');
            }

            .name {
              margin-left: 10px;
              display: inline-block;
              width: 209px;
              line-height: 26px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .btn {
              width: 24px;
              height: 24px;
              margin-left: auto;
            }
          }

          .info_box_one {
            .info_box {
              padding: 20px 15px;
            }
          }
        }
      }
    }

    .move_area {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 10%;
      min-height: 550px;
    }
  }
}

/*---------------------------------------*/
/*--------   9. ac_building-jeh.scss  ---*/
/*---------------------------------------*/

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-color: #dee2e6 #dee2e6 #F9F9FC;
}

.btn_arrow_square2_l {
  display: inline-block;
  width: 55px;
  height: 55px;
  text-align: center;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(../images/icons/icon_arrow_square2_right.svg);
  transform: rotate(180deg);

  &:hover,
  &:focus,
  &:active {
    background-image: url(../images/icons/icon_arrow_square2_right_on.svg);
    cursor: pointer;
  }

}

.icons_minus_circle_off {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(../images/icons/icon_minus_circle_off.svg);

  &:hover,
  &:focus,
  &:active {
    background-image: url(../images/icons/icon_minus_circle_on.svg);
    cursor: pointer;
  }
}

.icons_x_circle_off {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(../images/icons/icon_x_circle_off.svg);

  &:hover,
  &:focus,
  &:active {
    background-image: url(../images/icons/icon_x_circle_on.svg);
    cursor: pointer;
  }
}

//건물-빌딩 페이지
.ac_manage_building {
  .btn_crud_point {
    margin-right: 10px;
  }

  //   .input-search {
  //     width: 74%;
  //     margin-right: 5px;
  //   }

  .keyword_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 8px;
    gap: 10px;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .keyword01 {
    width: 88px;
    height: 28px;
    background: theme.$color_light3;
    border-radius: 3px;
    margin: 10px 10px 6px -7px;
  }

  .keyword01-1 {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    margin: 0px 5px 0px 9px;
  }

  .keyword02 {
    width: 100px;
    height: 28px;
    background: theme.$color_light3;
    border-radius: 3px;
    margin: 10px 10px 6px -7px;
  }

  .keyword02-1 {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    margin: 0px 5px 0px 9px;
  }

  .x {
    display: inline-block;
    width: 10px;
    height: 10px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/icon_×.png);
    margin-right: 8px;
  }

  .btn_area {
    margin-top: 30px;
    text-align: center;
  }

  //   .place_section .left_area .place_box .thumb_list {
  //     position: relative;
  //     width: 100%;
  //     height: calc(100% - 229px);
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-around;
  //     margin-bottom: 30px;
  //     background-color: #F9F9FC;
  //   }

  //   .place_section .left_area .place_box {
  //     position: relative;
  //     width: 49%;
  //     min-height: 289px;
  //     margin-bottom: 12px;
  //     border: 0.4px solid rgba(167, 169, 172, 0.4);
  //     border-radius: 5px;
  //   }

  .place_section .right_area .placement_area .list_area .box_selcet {
    background: #E7EDFF;
  }

}

// 건물-빌딩 모달 

.modal_ac_manage_building {

  .filter_box {
    width: 730px;
    height: 200px;
    border: 0.4px solid #A7A9AC;
    border-radius: 3px;
    margin: 0 auto;
  }

  .filter02 {
    border-top: 0.4px solid #A7A9AC;
  }

  .filter_name.title {
    font-weight: 400;
    font-size: 16px;
  }

  .filter_name {
    display: inline-block;
    padding: 0 30px 0px;
    font-weight: 400;
    font-size: 14px;
  }

  .filter_first {
    margin-top: 20px;
  }

  .filter_second {
    text-align: left;
    margin: 10px 96px;
  }

  .filter_third {
    margin-top: 20px;
    margin-left: -10px;
    margin-bottom: 10px;
  }

  .filter_forth {
    margin: 0 0 0 81px;
  }

  .btn_area {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
}

// 건물-빌딩 프랜차이즈 페이지 

.ac_manage_building.franchise {

  .place_section .left_area .place_box .space {
    margin: 35px 0px 0 0px;
    background-image: url('../images/sample_building_frc_noimg.jpg');
  }

  .thumb {
    width: 100%;
    height: 194px;
    background-color: theme.$color_background;
    margin: 35px 0px 0 0px;
  }

  .icons_thumbnail {
    margin: 60px 120px;
  }
}

/* 건물-자료실.html */

/* 자료등록01:자료의 7가지 구분 선택 (팝업 L) */

#modalDataregi {
  .box07 {
    @include mixin.border_common;
    display: inline-block;
    width: 250px;
    height: 190px;
    margin: 20px 15px;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid theme.$color_light1;
      color: theme.$color_light1;
      cursor: pointer;

      .regi_icon07 {
        background-image: url(../images/icon_music_on.png);
      }

    }

    .regi_icon07 {
      background-image: url(../images/icon_music_off.png);
      background-size: cover;
      display: block;
      width: 36px;
      height: 36px;
      margin: 40px 0 28px 105px;
    }

    div:last-child {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: theme.$text_unselected_color;
    }
  }
}

/* 자료실-자료등록/수정-동영상/문서 & 유튜브,URL & 배경음 동일 형식 이용 (팝업 L) */

#modalDataRegiModi {

  .form-group label {
    line-height: 22px;
  }

  .exp_txt02 {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #A7A9AC;
  }

  .building_check {
    margin-left: 25%;
    margin-bottom: -27px;
    margin-top: -53px;
  }

  .building_check02 {
    margin-left: 25%;
    margin-top: -18px;
  }

  .place_box {
    position: relative;
    width: 177px;
    min-height: 115px;
    margin-bottom: 20px;
    border: 0.4px solid rgba(167, 169, 172, 0.4);
    border-radius: 5px;
    margin-left: 26%;
    margin-top: -8px;

    @media (max-width: 1199.98px) {
      margin-left: 28%;
    }
  }

  .btn_close {
    position: absolute;
    z-index: 1;
    width: 24px;
    height: 24px;
    top: -10px;
    right: -10px;
  }

  .space {
    display: inline-block;
    height: 115px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/sample_building_frc_noimg.jpg);
    width: 100%;
  }


  /* .line {
    width: 100%;
    height: 0px;
    border: 0.4px solid rgba(167, 169, 172, 0.4);
    margin-top: -20px;
    margin-bottom: 30px;
  } */

  .data_explain input {
    height: 39px;
  }

  .building_RegiModi_box {
    height: 440px;
    margin-top: 5px;
  }
}

/* 자료실-자료등록/퀴즈 (팝업 L) */

#modalDataRegiQuiz {

  .regiquiz_margin {
    margin-top: 65px;
  }

  .regiquiz_margin input {
    height: 110px;
    padding: 10px 10px 70px 10px;
  }

  .regiquiz_check {
    padding: 0px 80px;
  }

  .regiquiz_regi {
    margin-top: 65px;
  }

  .edit_area {
    min-height: 140px;
  }
}

/* 자료실-자료등록/쪽지시험 (팝업 L) */

#modalDataRegiNote {

  .reginote_margin {
    margin-top: 65px;
  }

  .reginote_margin input {
    height: 110px;
    padding: 10px 10px 70px 10px;
  }

  .reginote_check {
    padding: 0px 80px;
  }

  .reginote_regi {
    margin-top: 65px;
  }

  .edit_area {
    min-height: 140px;
  }
}

/* 건물-자료실-필터 (팝업 M1) */

#modalDatafilter.building {

  .filter_first {
    width: 680px;
    padding: 0px 17px;
    text-align: left;
    margin: 10px 0px;
  }

  .filter_second {
    width: 680px;
    padding: 10px 17px;
    text-align: left;
    margin: 10px 0px;
  }

  .filter_box {
    height: 190px;
  }

  .modal-body {
    height: 180px;
  }
}

/* 건물-건물SET.html */

.ac_building_wld {

  .line {
    border: 1px solid #E6E7E8;
    margin: 10px 0;
    width: 100%;
  }

  .search_section {
    width: 100%;

    .left_area {
      width: 48%;

      .left_area02 {
        display: flex;
        align-items: center;
      }

      .left_area03 {
        display: flex;
      }
    }

    .right_area {
      width: 48%;

      .right_area02 {
        display: flex;
      }
    }
  }



  .nav-tabs:not(.depth03)+.tab-content {
    position: relative;
    overflow-y: auto;
    height: 300px;
  }

  .more_mu .more_list li {
    min-width: 128px !important;
  }

  .btn02 {
    margin-top: 10px;
  }

  .btn03 {
    margin-top: 10px;
  }

  .world_set_tit {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
  }

  .dropdown {
    margin-left: auto;
  }

}

.icon_wld01 {
  display: inline-block;
  width: 45px;
  height: 18px;
  text-align: center;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(../images/icon_wld01.png);
  margin-right: 5px;
}

.icon_wld02 {
  display: inline-block;
  width: 45px;
  height: 18px;
  text-align: center;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(../images/icon_wld02.png);
  margin-right: 5px;
}

.icon_wld03 {
  display: inline-block;
  width: 45px;
  height: 18px;
  text-align: center;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(../images/icon_wld03.png);
  margin-right: 5px;
}

.icon_wld04 {
  display: inline-block;
  width: 45px;
  height: 18px;
  text-align: center;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(../images/icon_wld04.png);
  margin-right: 5px;
}

.icon_wld05 {
  display: inline-block;
  width: 45px;
  height: 18px;
  text-align: center;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(../images/icon_wld05.png);
  margin-right: 5px;
}

.ac_building_wld_modal {
  .world_set_tit {
    margin-right: 13px;
  }

  .dropdown {
    width: auto !important;
    margin-right: 5px;
  }

  .nav-tabs {
    margin-top: 10px;
  }

  .cancel {
    margin-left: auto !important;
  }

  .title {
    margin-top: 10px;
  }

  .form-group {
    margin-top: 10px;
  }

  .modal-body {
    height: 770px;

    @media (max-width: 1199.98px) {
      height: 490px;
    }
  }

  .worldset_tit {
    display: flex;
    align-items: center;

    .world_name {
      margin-left: auto;
    }
  }
}

.modal_ac_manage_dtr {
  .file_name {
    text-align: left;
    margin-top: 10px;
  }
}

#modalCuriRegi.ac_building {
  .modal_curiregi .divide_area.left .cw_box {
    height: 0px;
  }

  .nav-tabs:not(.depth03)+.tab-content {
    border: 0.4px solid rgba(167, 169, 172, 0.4);
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    padding: 15px 15px;
    overflow-y: auto;
    height: 390px;
  }
}

/* 패키지 열람 (팝업 L) */

#modalLessonView {

  .preview {
    margin-right: 10px;
  }

  .data_title {
    width: 20%;
    margin-left: 15px;
  }

  .pack_title {
    width: 41%;
    margin-left: 15px;
  }

  .pack_title01 {
    width: 19%;
    margin-left: 15px;
  }

  .pack_title02 {
    width: 20%;
    margin-left: 15px;
  }

  .icon_mydata02 {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/icon_mydata.png);
    margin-right: 10px;
  }
}

/* 건물-패키지.html */
/* 패키지 등록 / 패키지 수정 (팝업 L) */

#modalLessonRegi {

  .icon_franReal {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/icon_franReal.png);
  }

  .list_area_text {
    line-height: 40px;
  }

  @media (max-width: 1199.98px) {
    .list_area_text {
      display: inline-block;
      width: 149px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @media (max-width: 1199.98px) {

    .check_sec span.custom-control {
      width: 100%;
    }
  }

  .icon_mydata {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/icon_mydata.png);
    margin-right: 10px;
    margin-left: 20px;
  }

  .icon_mydata01 {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/icon_mydata.png);
    margin-right: 0px;
    margin-left: 0px;
  }

  .icon_youtube_sm {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/icon_youtube_sm.png);
    margin-right: -10px;
    margin-left: 10px;
  }

  .icon_exam_sm {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/icon_exam_sm.png);
    margin-right: -10px;
    margin-left: 10px;
  }

  .icon_link_sm {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/icon_link_sm.png);
    margin-right: -10px;
    margin-left: 10px;
  }

  .icon_mp4_sm {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/icon_mp4_sm.png);
    margin-right: -10px;
    margin-left: 10px;
  }

  .icon_pdf_sm {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/icon_pdf_sm.png);
    margin-right: -10px;
    margin-left: 10px;
  }

  .icon_quiz_sm {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/icon_quiz_sm.png);
    margin-right: -10px;
    margin-left: 10px;
  }
}