@use "theme";
@use "mixin";
/*---------------------------------------*/
/*--------  6. ac_manage2.scss  ---------*/
/*---------------------------------------*/

//프랜차이즈가입관리-가맹한 리스트
.ac_manage_frc {
	.cards_section {
		position: relative;
		width: 600px;
		margin: 0 auto;
		padding-top: 80px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.card {
			position: relative;
			overflow: hidden;
			width: 260px;
			height: 230px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			box-shadow: theme.$box_shadow;
			border-radius: 20px;
			border-color: #fff;
			padding: 10px;
			margin-bottom: 55px;

			.standby_txt {
				position: absolute;
				z-index: 2;
				top: 10px;
				left: 10px;
				width: 240px;
				height: 40px;
				line-height: 40px;
				text-align: center;
				background-color: theme.$color_background;
				border-radius: 12px;
				color: theme.$text_unselected_color;
				visibility: hidden;
			}

			&.standby {
				&::before {
					content: "";
					position: absolute;
					z-index: 1;
					width: 260px;
					height: 230px;
					top: 0;
					left: 0;
					background: rgba($color: #000000, $alpha: .2);
				}

				.standby_txt {
					visibility: visible;
				}
			}

			.logo {
				width: 200px;
				height: 170px;
				background-repeat: no-repeat;
				background-position: center center;

				img {
					width: 100%;
					height: auto;
				}
			}

			.academy {
				font-weight: 500;

				.btn.signup {
					font-weight: 500;
					color: theme.$color_blue;
				}
			}

			&.signup {
				box-shadow: 0px 0px 15px #D1DBFF;
			}
		}
	}

	.info_txt {
		position: relative;
		margin-top: 10px;
		width: 100%;
		text-align: center;
	}
}

//프랜차이즈가입관리-월별이용현황
.ac_manage_frc.frc_monthlyusage {
	.cards_section .card {
		cursor: pointer;
	}
}

//결제관리
.ac_manage_pay {

	//요금제 박스 .plan_card 공통 이용
	.plan_card {
		position: relative;
		padding-top: 65px;

		.plan_box {
			position: relative;
			width: 280px;
			border-radius: 20px;
			box-shadow: theme.$box_shadow;
			overflow: hidden;

			.plan_tit {
				padding: 15px 0;

				.name {
					font-weight: 700;
					font-size: 24px;
				}

				.price {
					font-weight: 500;
					font-size: 20px;
				}
			}

			.btn_area {
				position: relative;
				margin: 20px 0;
				display: flex;
				flex-direction: column;
				align-items: center;

				.btn+.btn {
					margin-left: unset;
					margin-top: 10px;
				}
			}

			.detail_area {
				width: 200px;
				margin: 0 auto;
				padding: 20px 0;
				border-top: 0.4px solid rgba(167, 169, 172, .4);

				.detail_list {
					position: relative;
					margin: 0 auto 25px;
					margin-left: 70px;
					width: 130px;
					text-align: left;

					.detail_title {
						font-size: 15px;
						font-weight: 500;
						color: theme.$color_blue;
						margin-left: -20px;
					}

					.detail_info span {
						padding: 2px 4px;
						border-radius: 4px;
						background-color: #e7edff;
						color: theme.$color_blue;
						font-size: 14px;
					}

					ul.list {
						font-size: 12px;
					}
				}
			}
		}

		.popular {
			position: absolute;
			z-index: 1;
			top: 15px;
			left: calc(50% - 85px);
			width: 170px;
			height: auto;
			background: #7391FA;
			border-radius: 50px;
			padding: 10px;
			font-weight: 500;
			font-size: 14px;
			color: #fff;

			&+.plan_box {
				border: 3px solid #7391FA;
				// .plan_tit { color: #fff;}
			}
		}

		&.color01 {
			.plan_tit {
				background: #E6E7E8;
			}
		}

		&.color02 {
			.plan_tit {
				background: #D1DBFF;
			}

			.btn_signup {
				border: none;
				background: #D1DBFF;
			}
		}

		&.color03 {
			.plan_tit {
				background: #7391FA;
				color: #fff;
			}

			.btn_signup {
				border: none;
				background: #7391FA;
				color: #fff;
			}
		}

		&.color04 {
			.plan_tit {
				background: #4FCED0;
				color: #fff;
			}

			.btn_signup {
				border: none;
				background: #4FCED0;
				color: #fff;
			}
		}

		&.service {
			padding-top: 20px;

			.plan_box {
				width: 400px;
			}

			.plan_tit {
				padding: 30px 0;
				margin-bottom: 30px;
				background: #7391FA;
				color: #fff;
			}

			.service {
				font-size: 18px;
			}

			.btn_signup {
				width: 140px;
				border: none;
				background: #7391FA;
				color: #fff;
				margin-bottom: 20px;
			}
		}
	}

	.page_title {
		position: relative;
		margin-top: 10px;
		margin-bottom: 30px;
		width: 100%;
		text-align: center;
		font-weight: 500;
	}

	.box_blue {
		position: relative;
		width: 829px;
		margin: 0 auto;
		padding: 50px 20px;
		border: 1px solid #7391FA;
		border-radius: 10px;
		text-align: center;
	}

	.select_plan {
		@extend .plan_card;
		padding-top: 0;
		padding-bottom: 20px;

		.swiper-slide {
			padding: 10px;
		}

		.plan_card {
			padding-top: 0;
			cursor: pointer;

			.content_list {
				position: relative;
				padding: 15px 0;

				ul {
					width: 160px;
					margin: 0 auto;
					display: block;
					text-align: left;

					li {
						padding: 3px 0;
						font-size: 14px;
						font-weight: 500;
					}

					li i {
						margin-right: 5px;
					}
				}
			}
		}
	}

	.info_box {
		position: relative;
		@include mixin.border_common;
		padding: 20px;

		.title_area {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: 15px;
			border-bottom: 0.4px solid rgba(167, 169, 172, .2);
		}

		.info_area,
		.modify_area {
			margin: 20px 0 50px;

			.form-group {
				position: relative;
				display: flex;
				align-items: baseline;

				label {
					width: 120px;
					text-align: left;
					font-size: 16px;
					line-height: 23px;
					vertical-align: top;
					padding: 0 20px;
				}

				label+div {
					text-align: left;
					vertical-align: top;
				}

				textarea {
					display: block;
					border: 0.4px solid rgba(167, 169, 172, 0.4);
					border-radius: 5px;
					padding: 10px;
					text-align: left;
					overflow: auto;
					resize: vertical;
					width: 100%;
					font-size: 14px;
					font-weight: 400;
					color: #454545;
					outline: none;
				}

				textarea::placeholder {
					font-size: 14px;
					color: #D1D3D4;
				}
			}
		}

		.modify_section {
			.modify_area {
				margin: 0 0 20px;
				position: relative;
				padding: 20px;
				background: #F9F9FC;
				border-radius: 10px;
			}

			.btn_area {
				margin-top: 10px;
			}
		}
	}

	.payment_amount {
		position: relative;
		margin: 30px 0 20px;
		border-radius: 10px;
		border: none;
		box-shadow: theme.$box_shadow;
		text-align: center;
		overflow: hidden;

		.table {
			margin-bottom: 0;

			thead {
				background: #F9F9FC;
				font-size: 14px;
			}

			tbody td {
				font-weight: 500;
				font-size: 20px;
				vertical-align: middle;
				padding: 30px 0;

				input[type='number'] {
					width: 60px;
					text-align: center;
					font-size: 20px;
				}

				.num_updn {
					display: inline-block;
					width: 50px;
					vertical-align: middle;
					line-height: 20px;

					img {
						cursor: pointer;
					}
				}

				i {
					margin: 0 10px;
				}
			}

			td:first-child {
				padding-left: 85px;
			}

			td:last-child {
				padding-right: 85px;
			}
		}
	}

	.warning_txt {
		width: 200px;
		margin: 0 auto;
		text-align: left;
		font-size: 12px;
		line-height: 25px;

		.warning {
			position: relative;
			color: theme.$color_notice;

			&::before {
				content: '';
				position: absolute;
				width: 16px;
				height: 16px;
				top: 6px;
				left: -20px;
				background: url(../images/icon_exclamation.png) no-repeat center center;
			}
		}

		.explain {
			display: flex;
			align-items: center;
			color: theme.$text_unselected_color;
		}

		span.circle {
			display: inline-block;
			margin: 0 2px;
			width: 21px;
			height: 21px;
			line-height: 21px;
			border-radius: 50%;
			text-align: center;
			vertical-align: middle;
			background: theme.$color-light4;
		}
	}

	.btn_area {
		margin: 35px 0;
		text-align: center;

		.btn+.btn {
			margin-left: 10px;
		}
	}

	.info_txt {
		position: relative;
		width: 829px;
		margin: 0 auto 30px;
		padding: 10px 0px;
		font-size: 12px;

		li {
			padding: 3px 0;
		}
	}

	input.input_dates {
		width: 85px;
		text-align: center;
	}

	.rateplan_section {
		position: relative;
		text-align: center;
		min-height: 1015px;

		.mu_area {
			margin-bottom: 40px;

			ul {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			li {
				position: relative;
				width: 190px;
				text-align: center;

				&::after {
					content: '';
					position: absolute;
					top: 4px;
					right: -10px;
					@include mixin.divid_line(#454545, 30px);
					border-color: rgba(69, 69, 69, .5)
				}
			}

			li>a {
				padding: 6px 2px;
				font-size: 19px;
				line-height: 20px;
				border-radius: 0;
			}

			li.active>a,
			li:hover>a,
			li:focus>a {
				font-weight: 700;
				color: theme.$color_blue;
				box-shadow: inset 0 -10px 0 rgba(209, 219, 255);
				line-height: 20px;
			}
		}

		.plan_area {
			position: relative;
			display: flex;
			justify-content: space-around;
		}

		@extend .plan_card;
	}
}

//공지사항
.ac_manage_notice {
	.search_section .right_area {
		margin-top: 5px;

		@media (min-width: 992px) {
			text-align: right;
			margin-top: 0;
		}
	}

	.table_section {
		overflow-x: auto;
	}

	.table {
		@media (max-width: 991.98px) {
			min-width: 900px;
		}
	}

	table td {
		vertical-align: middle;
	}

	td .state {
		color: theme.$text_unselected_color;

		&.warning {
			color: theme.$color_notice;
		}
	}

	td .date {
		font-size: 14px !important;
	}

	td.td_expand {
		padding: 18px 20px 15px;
		text-align: left;
		font-size: 14px !important;
		background-color: theme.$color_normal;

		.file_name {
			padding: 6px 15px;
			margin-top: 10px;
			@include mixin.border_common;
		}

		.notice_contents {
			padding: 10px 15px;
			width: 100%;
			height: auto;
			line-height: 24px;
		}

		.functional_area {
			padding: 10px 15px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.thumbnail_area {
				position: relative;
				width: calc(100% - 275px);
				height: 60px;
				overflow-y: scroll;

				.thumbnail {
					position: relative;
					display: inline-block;
					width: 60px;
					height: 45px;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;
					background-image: url('../images/sample_notice_noimg.jpg');
					@include mixin.border_common;
					border-radius: 0;

					.more_cover {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: rgba(0, 0, 0, .3);
						color: #fff;
						font-weight: 500;
						;
						text-align: center;
						line-height: 45px;
					}
				}
			}

			.btns_area {
				text-align: right;
			}
		}
	}

	.btn_expand.up {
		transform: rotate(0);
	}

}

//공지사항-등록
.ac_manage_notice.notice_rigi {
	.setting_section {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.left_section {
			position: relative;

			.subject_area {
				position: relative;

				input[type='text'] {
					width: calc(100% - 290px);

					@-moz-document url-prefix() {
						width: calc(100% - 412px);
					}

					min-width: 215px;
				}
			}

			.title {
				display: inline-block;
				min-width: 90px;
			}
		}

		.right_section {
			position: relative;

		}
	}

	.file_list {
		margin-top: 10px;
	}

	.write_area {
		position: relative;
		margin-top: 10px;
		width: 100%;
		min-height: 400px;
		@include mixin.border_common;
		text-align: center;
	}

	.btn_area {
		margin-top: 20px;
		text-align: center;
	}

	.exp_txt {
		display: block;
		width: 100%;
		height: 100%;
		text-align: center;
		font-size: 14px;
		color: theme.$text_unselected_color;
	}

	.search_result {
		overflow-x: auto;
		height: 138px;

		.exp_txt {
			padding: 25px 0;
		}
	}
}

// 출결관리
.ac_manage_atd {
	.search_section {
		.date_box {
			background: #E7EDFF;
			border-radius: 5px;
			font-weight: 400;
			font-size: 14px;
			line-height: 40px;
			padding: 0 10px;
			vertical-align: middle;
		}
	}

	.divide_section {
		gap: 1%;
		margin-top: 25px;

		.divide_area.first {
			width: 19%;
		}

		.divide_area.second {
			width: 44%;
			padding-top: 45px;
		}

		.divide_area.third {
			width: 34%;
			padding-top: 45px;

			.search_result {

				th,
				td {
					text-align: center;
					color: #454545;
				}

				.tbl_overflow {
					height: 440px;
				}

				.tbl_overflow td {
					padding: 15px 5px;
					font-size: 16px;
				}

				.tbl_overflow tr:nth-child(even) {
					background: #F9F9FC;
				}

				.th01 {
					width: 17%;
				}

				.th02 {
					width: 38%;
				}

				.th03 {
					width: 17%;
				}

				.td01 {
					width: 17%;
				}
			}
		}
	}

	.list_section {
		width: 100%;

		.list_area {
			@include mixin.border_common;
			height: 472px;
			overflow-y: auto;

			li {
				padding: 8px 15px;
				display: flex;
				align-items: center;
				justify-content: space-between;

				i {
					cursor: pointer;
				}
			}
		}

		.sum_info {
			width: 100%;
			height: 39px;
			line-height: 39px;
			text-align: right;
			margin-bottom: 5px;
			font-size: 14px;
		}

		.nav-tabs .nav-item {
			padding: initial;
		}

		.nav-tabs+.tab-content {
			@include mixin.border_common;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			border-top: none;
			height: 408px;
		}
	}

	.list_section.selected {
		li {
			display: block;

			.list,
			.list_sub li {
				display: flex;
				align-items: center;
				padding-right: 0;

				span+i {
					margin-left: auto;
				}

				i.btn {
					margin-right: 5px;
				}

				.ss_txt {
					margin-left: 10px;
					font-size: 14px;
					color: #A7A9AC;
				}
			}

			.list_sub {
				padding: 4px 0px;

				li {
					padding-left: 20px;
				}
			}
		}
	}

	.list_area {
		.btn.btn_chceck {
			height: 30px;
			padding: 5px 10px;
			font-size: 14px;
		}

		.btn_attend {
			height: 20px;
			line-height: 17px;
			padding: 0 0 2px 0;
			background: #A7A9AC;
			font-size: 14px;
			color: #fff;
		}

		.btn_inout {
			height: 20px;
			line-height: 17px;
			padding: 0px;
			background: #7391FA;
			font-size: 14px;
			color: #fff;
		}
	}

	.calendar {
		.info_area {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.ss_txt {
				margin-left: 10px;
				font-size: 14px;
				color: #A7A9AC;
			}
		}
	}
}

//출결관리-일괄출결 팝업
.modal_batchattendance {
	position: relative;
	padding: 0 10px;

	.date_area {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;

		.date {
			margin-left: auto;
		}
	}

	.cnts_section {
		position: relative;
		margin-top: 20px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 10px;

		.list_section {
			position: relative;
			width: 50%;
			text-align: left;

			.all {
				position: relative;
				@include mixin.border_common;
				padding: 10px;
				margin-bottom: 15px;

				.custom-control-label {
					font-size: 16px;
					line-height: 21px;
				}

				.ss_txt {
					margin-left: 10px;
					font-size: 14px;
					color: #A7A9AC;
				}
			}

			.list_area {
				position: relative;
				margin-top: 5px;
				padding: 10px;
				height: 225px;
				overflow-y: auto;
				@include mixin.border_common;

				li {
					padding: 5px 0;
					display: flex;
					align-items: center;
					justify-content: space-between;

					.custom-control-label {
						font-size: 16px;
						line-height: 21px;
					}

					.times {
						font-size: 14px;
					}
				}
			}

			.btn_area {
				position: relative;
				height: auto;
				overflow: hidden;
				margin-top: 20px;

				.btn {
					width: 100%;
				}
			}
		}
	}
}

/* ------------------ 프랜차이즈가입관리-가맹한리스트 ------------------ */
/* 프랜차이즈가입관리 -가입요청(팝업 M2) */
#modalFrcsignup {

	.form-control {
		width: 240px;
	}

	.title {
		margin: 0px 0 15px 0;
	}

	.preview {
		width: 236px;
		height: 174px;
		background: theme.$color_normal;
		border-radius: 5px;
		margin: 20px 0px 20px 116px
	}

	.icons_thumbnail {
		margin: 48px 0 0 0;
	}

}

/* 프랜차이즈가입관리-월별이용현황2 */
/* 프랜차이즈가입관리 - 월별이용현황상세(팝업 M1) */
#modalFrcdetail {
	.table thead th {
		padding-bottom: 20px;
	}

	.modal-body {
		text-align: center;
		padding-top: 22px;
	}
}

/* ------------------ 결제관리 ------------------ */
/* 관리 - 결제관리 */
.ac_manage_pay {

	.title {
		font-weight: 500;
		font-size: 20px;
		line-height: 36px;
		align-items: center;
		text-align: center;
		color: theme.$color_blue;
		margin: 0 0px 36px 0px;
	}

	.check_circle {
		display: inline-block;
		width: 18px;
		height: 18px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto;
		background-image: url(../images/icon_check_circle.png);
	}

	.table td,
	.table th {
		padding: 0.5rem;
	}

	.table td {
		font-weight: 500;
		font-size: 16px;
		line-height: 23px;
	}

	.unpay {
		margin: 0px 0 -38px 674px;
	}

	.font01 {
		font-weight: 400;
		font-size: 12px;
		line-height: 17px;
	}

	.font02 {
		font-weight: 400;
		font-size: 12px;
		line-height: 17px;
		color: theme.$color_light1;
	}

	/* 결제관리-카드정보 */
	.info_box .info_area .form-group label,
	.info_box .modify_area .form-group label {
		width: 170px;
	}

	.info_box {
		width: 65%;
		margin: 0 auto;
	}

	.info_area .custom-control,
	.info_area .form-check {
		margin: 0 0 0 25px;
	}

	.first_name {
		margin-top: 20px;
	}

	.credit_account {
		width: 240px;
		height: 80px;
		background: theme.$color_white;
		border: 0.4px solid theme.$text_unselected_color;
		border-radius: 10px;
		cursor: pointer;

		&:hover,
		&:focus,
		&:active,
		&.active {
			border: 1px solid theme.$color_light1;
		}
	}

	.font03 {
		font-weight: 500;
		font-size: 16px;
		line-height: 75px;
		margin: 25px 0px 0 90px;
	}

	.account {
		width: 240px;
		height: 80px;
		background: theme.$color_white;
		border: 0.4px solid theme.$text_unselected_color;
		border-radius: 10px;
		cursor: pointer;

		&:hover,
		&:focus,
		&:active {
			border: 1px solid theme.$color_light1;
		}

	}

	.pay_choice {
		display: flex;
		justify-content: center;
		gap: 10px;
		margin: 20px 0px 20px 0px;
	}

	.address {
		margin: 0 0px 0px -70px;
	}

	.custom-control-label::before,
	.custom-control-label::after {
		margin-top: -3px;
		left: -11px;
	}

	.address02 {
		margin: 0 0 0 -128px;
	}

	.font04 {
		font-weight: 400;
		font-size: 14px !important;
		line-height: 20px;
	}

	.check01::before,
	.check01::after {
		margin-top: -3px;
		left: -28px;
	}

	.address02::before,
	.address02::after {
		margin-top: -3px;
		left: -3px;
	}

	.info_area .custom-control-label,
	.info_area .form-check-label {
		font-size: 14px;
	}

}

/* 결제관리 - 결제내역 */
/* 	관리 - 결제관리 - 결제내역 - 상세보기 팝업 M2 */
#modalPayDetaiView {
	.view_box {
		width: 460px;
		background: #F9F9FC;
		border-radius: 5px;
		text-align: left;
		padding: 15px 25px;
		margin: 0 auto;
	}

	.title {
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		width: 23%;
		margin-left: 10px;
	}

	.view_address {
		display: inline-block;
		max-width: 320px;
		line-height: 26px;
	}

	.col {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
	}

	.row {
		padding: 10px 0px;
	}

	.line {
		border: 1px solid #D1D3D4;
		width: 104%;
		margin-left: -6px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}


/* 팝업 S2- 결제 관리 - 현재 요금제 취소 팝업 */
#modalCancleSub {
	.modal-body {
		padding-bottom: 25px;
		font-weight: 400;
		font-size: 14px;
		line-height: 30px;
		text-align: left;
		margin: -9px 0px -13px 10px;
	}
}

/* 팝업 S2- 결제관리 - 카드정보 - 카드 등록 확인 팝업 */
#modalServiceSub {
	.title {
		font-weight: 500;
		font-size: 16px;
		line-height: 23px;
		margin-bottom: 20px;
	}

	.btn_crud_point {
		width: 93px;
	}
}

/* 결제관리 - 요금제.html */
.ac_manage_pay {

	.plan_card.color02 .btn_signup,
	.color02.rateplan_section .btn_signup,
	.color02.select_plan .btn_signup {
		border: none;
		background: theme.$color_light3;

		&:hover,
		&:focus,
		&:active {
			background: theme.$color_light1;
			cursor: pointer;
			color: theme.$color_white;
		}
	}

	.plan_card.color03 .btn_signup,
	.color03.rateplan_section .btn_signup,
	.color03.select_plan .btn_signup {
		border: none;
		background: theme.$color_light1;
		color: theme.$color_white;

		&:hover,
		&:focus,
		&:active {
			background: theme.$color_blue;
			cursor: pointer;
		}
	}

	.plan_card.color04 .btn_signup,
	.color04.rateplan_section .btn_signup,
	.color04.select_plan .btn_signup {
		border: none;
		background: theme.$color_emerald;
		color: theme.$color_white;

		&:hover,
		&:focus,
		&:active {
			background: theme.$color_light2;
			cursor: pointer;
		}
	}

	.plan_card.service .btn_signup,
	.service.rateplan_section .btn_signup,
	.service.select_plan .btn_signup {
		width: 140px;
		border: none;
		background: theme.$color_light1;
		color: theme.$color_white;
		margin-bottom: 20px;

		&:hover,
		&:focus,
		&:active {
			background: theme.$color_blue;
			cursor: pointer;
		}

	}

}


/* ------------------ 공지사항 ------------------ */
/* 공지사항.html 페이지 */
.ac_manage_notice {

	.dropdown .dropdown-toggle {
		height: 40px;
		/* margin-right: 10px; */
	}

	.form-search {
		height: 40px;
		/* margin-right: 10px; */
		width: 40%;
	}

	.file_icon {
		display: inline-block;
		width: 20px;
		height: 18px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/icon_file.png);
		margin-right: 5px;
		margin-bottom: 4px;
	}

	.save {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: theme.$text_unselected_color;
		margin-left: 10px;
		cursor: pointer;
	}

	td.td_expand .notice_contents {
		padding: 10px 15px;
		width: 100%;
		height: 86px;
		line-height: 24px;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: 5px 0px 10px 0px;
	}

	.thumbnail_area .thumbnail {
		margin-right: 10px;
	}

	/* .btn {
    margin-right: 10px;
  } */

	.btns_area {
		text-align: right;
		margin: 0px -10px -2px 0;
	}

	.search_section .left_area {
		width: 50%;
		text-align: left;
	}

	.search_section .right_area {
		width: 50%;
	}

}

/* 공지사항-등록.html 페이지 */
.notice_rigi {

	.content {
		font-weight: 400;
		font-size: 13px;
		line-height: 20px;
		align-items: center;
		text-align: right;
		letter-spacing: -.5px;
		color: theme.$text_unselected_color;
	}

	.file_area {
		margin: 15px 0;
	}

	.date_area {
		display: flex;
	}

	.target_area {
		display: flex;
		margin: 15px 0px;
	}

	.box01 {
		align-items: center;
		padding: 3px 55px 10px 55px;
		gap: 10px;
		width: 230px;
		height: 40px;
		background: #E7EDFF;
		border-radius: 5px;
		line-height: 13px;
		text-align: center;
		margin-left: 10px;
	}

	.box02 {
		align-items: center;
		padding: 11px 55px 10px 60px;
		gap: 10px;
		width: 230px;
		height: 40px;
		background: #E7EDFF;
		border-radius: 5px;
		line-height: 13px;
		margin-left: 10px;
	}

	.content02 {
		font-weight: 400;
		font-size: 12px;
		line-height: 17px;
	}

	.file_list {
		margin-top: 0px !important;
		max-width: 92%;
		margin-left: 93px;
	}

	.write_area {
		margin-top: 15px !important;
	}

	.table td,
	.table th {
		text-align: center;
	}

	.table001 {
		width: 13%;
	}
}

/* 공지사항 등록 - 기한설정(팝업 M2) */
#modalNoticeData {

	.form-time {
		width: 80px;
	}

	.title {
		margin-right: 40px;
	}

	.form-control {
		padding: 10px 20px;
	}

	.calendar_box {
		width: 342px;
		height: 280px;
		background: #FFFFFF;
		border: 0.4px solid #A7A9AC;
		border-radius: 5px;
		margin: -21px 0 21px 115px;
	}

	.calendar_text {
		line-height: 276px;
	}

	.title02 {
		margin: 15px 383px 0px 0;
	}

	.form-check {
		text-align: left;
	}

	.check_sec {
		text-align: left;
		margin: 0 0px 0px 120px;
	}
}

/* 공지사항 등록 - 대상설정(팝업 M2) */
#modalNoticeTarget {

	.notice_box {
		width: 382px;
		height: 100px;
		border: 0.4px solid #A7A9AC;
		border-radius: 5px;
		margin: 0 auto;
	}

	.notice_first .form-check {
		margin: 5px 30px;
		text-align: left;
	}

	.notice_second .form-check {
		margin: 5px 30px;
		text-align: left;
	}

	.notice_first {
		display: flex;
		margin-top: 16px;
	}

	.notice_second {
		display: flex;
	}

	.notice_first label,
	.notice_second label {
		font-weight: 400;
		font-size: 16px;
		line-height: 23px;
	}

}

/* 공지사항 상세보기 (팝업 L) */
#modalNoticeView {

	.title_area {
		text-align: left;
		width: 100%;
		margin-bottom: 40px;
		margin-top: -15px;

		.notice_day {
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: #FB5353;
			margin: 0 0 0 31px;
			width: 8%;
		}

		.notice_writer {
			width: 15%;
		}
	}


	.title_area .notice_day02,
	.title_area .notice_writer {
		text-align: right;
	}

	.file_icon {
		display: inline-block;
		width: 20px;
		height: 18px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/icon_file.png);
		margin: 0px 5px 2px 17px;
	}

	.save {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: #A7A9AC;
		margin-left: 10px;
		cursor: pointer;
	}

	.file_name {
		padding: 6px 12px;
		border: 0.4px solid rgba(167, 169, 172, 0.4);
		border-radius: 5px;
		width: 97%;
		margin: 14px auto;
	}

	.file_info {
		text-align: left;
	}

	.box {
		width: 70%;
		height: 350px;
		background: theme.$color_background;
		margin: 56px auto;
	}

	.content_area {
		width: 97%;
		height: 332px;
		border: 0.4px solid rgba(167, 169, 172, 0.4);
		border-radius: 5px;
		overflow-y: scroll;
	}

	.icons_thumbnail {
		margin: 135px auto;
	}

	.notice_content {
		text-align: left;
		margin: 15px 15px;
	}

}

/* 공지사항 컨펌체크 (팝업 L) */
#modalNoticeConfirm,
#modalClassNoticeTarget {

	.confirm_sub {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: theme.$text_unselected_color;
	}

	.title_area {
		display: flex;
	}

	.confirm_title {
		margin-right: 20px;
		line-height: 40px;
	}

	.confirm_sub {
		margin-right: auto;
		line-height: 40px;
	}

	.btn_filter {
		margin-right: 5px;
	}

	.btn_filter_off {
		opacity: .3;
	}

	.btn_filter_off.on {
		opacity: 1;
	}

	.modal-body {
		text-align: center;
		padding: 35px 30px;
	}

	.box01 {
		position: relative;
		width: 100%;
		padding: 10px;
		background: #F9F9FB;
		@include mixin.border_common;
		margin-top: 10px;
		text-align: left;

		@media (min-width: 992px) {
			.right_area {
				text-align: right;
				width: 48%;
			}
		}
	}

	.keyword_area {
		position: relative;
		height: auto;
		padding: 1px 8px;
		width: 50%;
	}

	.keyword_area_01 {
		position: relative;
		max-height: 113px;
		display: flex;
		flex-wrap: wrap;
		padding: 0 10px;
		overflow-y: auto;
		white-space: nowrap;
	}

	.keyword01 {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 88px;
		height: 28px;
		background: #D1DBFF;
		border-radius: 3px;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.keyword01-1 {
		font-weight: 400;
		font-size: 12px;
		line-height: 17px;
		margin: 0px 5px 0px 9px;
	}

	.x {
		display: inline-block;
		width: 10px;
		height: 10px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/icon_×.png);
		margin-right: 8px;
	}

	.filter_wrap {
		position: relative;
		width: 100%;
		height: 150px;
		overflow-y: auto;
		background-color: #fff;
		padding: 12px 15px;
		margin-top: 20px;
		@include mixin.border_common;

		.filter_section {
			position: relative;
			display: flex;
			align-items: flex-start;

			.title_area {
				width: 140px;
			}

			.filter_area {
				width: calc(100% - 140px);
				display: flex;
				flex-wrap: wrap;

				.filter {
					display: inline-block;
					text-align: left;
					width: 20%;
					margin-bottom: 15px;
				}
			}
		}
	}

	.search_result {
		position: relative;
		margin-top: 10px;

		.tbl_overflow {
			min-height: 250px;
		}

		.table th {
			color: #454545;
		}

		.table tbody td {
			padding: 15px 5px;
			font-size: 16px;
		}

		.table tbody tr:nth-child(even) {
			background-color: theme.$color_background;
		}

		.table01 {
			width: 13%;
		}

		.table02 {
			width: 11%;
		}

		.table03 {
			width: 11%;
		}

		.table04 {
			width: 14%;
		}

		.table05 {
			width: 26%;
		}

		.table th,
		.table td {
			text-align: center;
		}
	}
}

/* 공지사항-등록(반).html */

.notice_regi_class {

	.line {
		border: 0.4px solid rgba(167, 169, 172, 0.4);
		margin: 20px auto;
	}

	.left_area {
		width: 50%;
	}

	.right_area {
		width: 50%;
		margin-left: auto;

		@media (max-width: 1199.98px) {
			width: 33%;
		}
	}

	.keyword_area {
		position: relative;
		height: auto;
		padding: 1px 8px;
	}

	.keyword_area_01 {
		position: relative;
		min-width: 520px;
		max-height: 113px;
		display: flex;
		flex-wrap: wrap;
		padding: 0 10px;
		overflow-y: auto;
		white-space: nowrap;
	}

	.keyword01 {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 88px;
		height: 28px;
		background: #D1DBFF;
		border-radius: 3px;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.keyword01-1 {
		font-weight: 400;
		font-size: 12px;
		line-height: 17px;
		margin: 0px 5px 0px 9px;
	}

	.x {
		display: inline-block;
		width: 10px;
		height: 10px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/icon_×.png);
		margin-right: 8px;
	}

	.search_section02 {
		width: 100%;
		display: flex;

		@media (min-width: 992px) {
			.right_area {
				text-align: right;
				margin-bottom: 30px;

				.filter_lift {
					margin-top: 5px;
				}
			}
		}

		@media (min-width: 1199.98px) {
			.right_area {
				margin-bottom: 70px;

				.filter_lift {
					margin-top: 0px;
				}
			}

		}
	}

	.reply_onoff {
		text-align: center;
		margin-top: 20px;
		background: #F9F9FC;
		padding: 10px 0px;

		label {
			font-weight: 400;
			font-size: 17px;
			line-height: 23px;
		}
	}
}

/* (완)공지사항-반.html */
.ac_manage_notice_class {
	.table_section {
		overflow-x: hidden;
	}

	.ReplyBox {
		position: relative;
		margin-bottom: 27px;
		line-height: 19px;

		.button_comment {
			display: inline-block;
			vertical-align: top;
			font-size: 13px;

			.icon_reply_new {
				display: inline-block;
				width: 24px;
				height: 24px;
				text-align: center;
				vertical-align: middle;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
				background-image: url(../images/icon_reply_new.png);
				margin-bottom: 10px;
			}

			.num {
				// margin-left: 4px;
				font-family: arial, sans-serif;
				line-height: 18px;
				font-weight: 700;
			}
		}
	}

	.CommentBox {
		margin-top: -17px;
		border-top: 0.4px solid #D1D3D4;
	}

	.comment_option {
		position: relative;
		padding-top: 16px;
		margin-bottom: 11px;

		.comment_title {
			float: left;
			margin-top: 3px;
			margin-right: 12px;
			font-size: 17px;
			font-weight: 700;
		}


		.comment_tab {

			.comment_tab_item:first-child {
				margin-left: 0;
			}

			.comment_tab_list:after {
				content: "";
				display: block;
				clear: both;
			}

			.comment_tab_item {
				float: left;
				margin-left: 8px;
			}

			.comment_tab_item .comment_tab_button {
				color: var(--skinTextb7b7b7);
				font-weight: 700;
			}

			.comment_tab_list {
				display: inline-block;
				margin-top: 7px;
				font-size: 13px;
				vertical-align: top;
			}

			.comment_tab_item .comment_tab_button[aria-selected=true] {
				color: #454545;
			}

			.comment_tab_item .comment_tab_button {
				color: #A7A9AC;
				font-weight: 700;
			}
		}
	}

	.comment_thumb {
		position: absolute;
		top: 12px;
		left: 0;
		width: 36px;
		height: 36px;
	}

	.comment_box {
		padding-left: 46px;
	}

	.comment_nick_box {
		margin-bottom: 4px;
	}

	.comment_nick_info {
		display: inline-block;
		position: relative;
		font-size: 13px;
		vertical-align: top;
	}

	.CommentItem:first-child {
		border-top: 0;
	}

	.comment_area {
		position: relative;
		padding: 12px 23px 10px 0;
	}

	.comment_thumb {
		position: absolute;
		top: 12px;
		left: 0;
		width: 36px;
		height: 36px;
	}

	.comment_text_box {
		position: relative;
		font-size: 13px;
		word-break: break-all;
		word-wrap: break-word;

		.comment_text_view {
			overflow: hidden;
		}

		.text_comment {
			line-height: 17px;
			word-break: break-all;
			word-wrap: break-word;
			vertical-align: top;
		}
	}

	.comment_info_box {
		margin-top: 7px;
		font-size: 12px;
		color: #A7A9AC;

		.comment_info_date {
			margin-right: 8px;
		}
	}

	.comment_tool {
		position: absolute;
		top: 12px;
		right: 0;

		.comment_tool_button {
			display: block;
			width: 16px;
			height: 16px;
			text-align: right;
		}
	}

	.CommentItem {
		position: relative;
		border-top: 0.4px solid #D1D3D4;
	}

	.CommentItem--mine {
		background: #fff;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: -20px;
			bottom: -1px;
			width: 105%;
			background: #fff;
		}
	}

	.CommentItem--reply+.CommentItem--reply {
		padding-left: 0;
		margin-left: 46px;
	}

	.CommentItem--reply {
		padding-left: 46px;
	}

	a {
		color: inherit;
	}

	.icons_refresh {
		display: inline-block;
		width: 12px;
		height: 11px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/icons/icon_refresh.svg);
		margin-top: 9px;
		margin-left: 3px;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icons/icon_refresh_hover.svg);
			cursor: pointer;
		}
	}

	.icons_user {
		width: 32px;
		height: 32px;
	}

	.comment_badge_writer {
		color: #FB5353;
		width: 43px;
		height: 17px;
		border: 1px solid #FB5353;
		border-radius: 8.5px;
		font-weight: 600;
		font-size: 10px;
		line-height: 24px;
		padding: 1px 4px;
	}

	.CommentWriter {
		margin: 12px 0;
	}

	.CommentWriter {
		padding: 16px 10px 10px 18px;
		border: 1px solid #D1D3D4;
		border-radius: 6px;
		box-sizing: border-box;
		background: #fff;
		width: 95%;
		display: flex;
		height: 90px;
	}

	.comment_inbox {
		position: relative;
		margin-bottom: 10px;
		width: 90%;
	}

	.comment_attach {
		width: 10%;
		margin-top: 9px;
	}

	.comment_inbox_text {
		overflow-x: hidden;
		overflow-y: auto;
		display: block;
		width: 100%;
		min-height: 17px;
		padding-right: 1px;
		border: 0;
		font-size: 13px;
		resize: none;
		box-sizing: border-box;
		background: transparent;
		color: #454545;
		outline: 0;
		max-height: 500px;
	}

	.CommentItem--textarea {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 22px;
	}

	.icons_x_circle_off {
		display: inline-block;
		width: 22px;
		height: 22px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/icons/icon_x_circle_off.svg);

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icons/icon_x_circle_on.svg);
			cursor: pointer;
		}
	}

	.CommentWriter_main {
		width: 100%;
	}

	textarea::placeholder {
		color: #A7A9AC;
	}

	.text_regi {
		@media (max-width: 1199.98px) {
			font-size: 15px;
			line-height: 25px;
			padding: 6px 15px;
		}
	}

	.reply_x {
		.icon_reply {
			display: inline-block;
			width: 24px;
			height: 24px;
			text-align: center;
			vertical-align: middle;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			background-image: url(../images/icon_reply.png);
			margin-bottom: 3px;
			margin-right: 3px;
		}

		.comment_title {
			float: left;
			margin-top: 3px;
			margin-right: 12px;
			font-size: 17px;
			font-weight: 700;
			margin-bottom: 10px;
		}
	}

}

/* (완)공지사항-개인.html */
.ac_manage_notice_personal {
	a {
		color: inherit;
		text-decoration: none;
		cursor: pointer;
	}

	.notice_person {
		width: 100%;
		display: flex;
		gap: 10px;
	}

	.snb {
		width: 30%;
		height: 540px;
		background: #F9F9FB;
		position: relative;
	}

	.content_chat {
		width: 70%;
		height: 540px;
	}

	.icon_person_w {
		display: inline-block;
		width: 29px;
		height: 37px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/icon_person_w.png);
	}


	.icon_talk_off {
		display: inline-block;
		width: 37px;
		height: 37px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/icon_talk_off.png);

		&:hover,
		&:focus,
		&:active,
		&.active {
			background-image: url(../images/icon_talk_on.png);
			cursor: pointer;
		}
	}

	.icon_talk_on {
		display: inline-block;
		width: 37px;
		height: 37px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/icon_talk_on.png);
	}

	.icon_before {
		display: inline-block;
		width: 18px;
		height: 16px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/icon_before.png);
	}

	.icon_arrow_right_blue {
		display: inline-block;
		width: 12px;
		height: 12px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/icon_arrow_right_blue.png);
		margin-top: 2px;
	}

	.icon_emoticon_off_large {
		display: inline-block;
		width: 79px;
		height: 79px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/icon_emoticon_off_large.png);
	}

	.search_wrap {
		display: flex;
	}

	.input-search {
		width: 90%;
		margin: 0 auto;
		margin-top: 10px;
	}

	.alarm_header>li+li {
		border-left: 0.4px solid #fff;
	}

	.chat_list_search {
		position: relative;
		padding: 27px 0 11px;
		background: #7391FA;
		border-radius: 5px 5px 0px 0px;

		.alarm_header {
			display: flex;
		}

		.alarm_header>li {
			display: flex;
			flex: 1 0;
			text-align: center;
			justify-content: center;
		}

		.alarm_header>li.active .btn_alarm_menu {
			opacity: 1;
		}

		.text_alarm {
			display: block;
			margin-top: 8px;
			font-weight: 600;
			line-height: 17px;
		}

		.btn_alarm_menu {
			display: block;
			width: 100%;
			opacity: .5;
			font-size: 15px;
			font-weight: 600;
			color: #fff;
		}

		.button {
			border: none;
			background: none;
			cursor: pointer;
		}

		.btn_alarm_menu>span {
			display: inline-block;
			line-height: 0;
		}
	}

	.chat_list>li:first-child .chat_list_link {
		padding-top: 19px;
	}

	.chat_list_link {
		display: block;
		overflow: hidden;
		padding: 17px 16px 21px 18px;

		.status_area .count {
			padding: 1px 8px 1px;
			border-radius: 20px;
			background: #FB5353;
			font-weight: 500;
			color: #fff;
		}
	}

	.info_area {
		display: flex;
		align-items: center;
	}

	.check_wrap {
		display: none;
		margin: 0 14px 0 -4px;
	}

	.check_wrap>input {
		position: absolute;
		overflow: hidden;
		clip: rect(0 0 0 0);
		width: 1px;
		height: 1px;
		margin: -1px;
	}

	.check_wrap input[type=checkbox]+label .check_delete {
		display: inline-block;
		width: 15px;
		height: 15px;
		border: 1px solid #d4d4d4;
		vertical-align: top;
		box-sizing: border-box;
	}

	.img_alarm_checkbox_on {
		height: 13px;
		background-position: 0 -60px;
	}

	.thumbnail_wrap {
		width: 40px;
		height: 40px;
		cursor: pointer;
	}

	.thumbnail_wrap:before {
		border-radius: 50%;
	}

	.thumbnail_wrap {
		flex: none;
		position: relative;
		overflow: hidden;
		background-color: #fff;
		box-sizing: border-box;
	}

	.text_wrap {
		display: flex;
		flex-direction: column;
		flex: 1 1;
		overflow: hidden;
		margin: 3px 0 0 9px;

		.name {
			font-size: 17px;
			font-weight: 600;
		}
	}

	.text_wrap>div {
		display: flex;
	}

	.chat_list_link .name {
		flex: 0 1 auto;
		font-size: 15px;
		font-weight: 600;
		color: #000;
	}

	.date_area {
		flex: 1 0 auto;
		margin: 2px 0 0 5px;
		font-size: 12px;
		color: #D1D3D4;
		word-break: break-all;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.text_area {
		margin-top: 8px;
	}

	.message {
		flex: 1 1 auto;
		min-height: 15px;
		font-size: 13px;
		color: #999;
		display: inline-block;
		width: 100px;
		height: 25px;
		line-height: 24px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.chat_list_area {
		height: 339px;
		overflow-y: scroll;
		flex: 1 1 450px;
		position: relative;
		overflow-x: hidden;
		overflow-y: auto;
		border-color: #e0e3e6;
		border-style: solid;
		border-width: 0 1px;
	}

	.chat_list>li {
		border-bottom: 1px solid #E6E7E8;
	}

	.chat_list>li.on:after,
	.chat_list>li.on:before {
		right: 0;
		left: 0;
		background-color: #e8f0f8;
	}

	// .chat_list>li:after {
	// 	position: absolute;
	// 	right: 17px;
	// 	bottom: 0;
	// 	left: 17px;
	// 	height: 1px;
	// 	background-color: #E6E7E8;
	// 	content: "";
	// }

	.chat_list_footer {
		display: flex;
		min-height: 49px;
		border: 1px solid #D1D3D4;
		background: #F9F9FC;
		z-index: 10;
		justify-content: space-between;
		align-items: center;
	}

	.chat_list_footer.delete .check_wrap {
		display: flex;
	}

	.chat_list li.active {
		background: #E7EDFF;
	}

	.check_wrap {
		display: none;
		align-items: center;
		margin-left: 14px;
	}

	.check_wrap input[type=checkbox] {
		position: absolute;
		overflow: hidden;
		clip: rect(0 0 0 0);
		width: 1px;
		height: 1px;
		margin: -1px;
	}

	.check_wrap input[type=checkbox]+label .check_box {
		display: inline-block;
		width: 15px;
		height: 15px;
		border: 1px solid #d4d4d4;
		vertical-align: top;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.chat_list_footer .btn_delete_wrap {
		display: flex;
		flex: 1;
		justify-content: flex-end;
		align-items: center;
		margin-right: 10px;
	}

	.btn_delete_icon {
		flex: 0 0 42px;
	}

	.icon_bin {
		display: inline-block;
		width: 17px;
		height: 17px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/icon_bin.png);
		cursor: pointer;
	}

	.input_btn_wrap .icons_thumbnail {

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_thumbnail_on.png);
			cursor: pointer;
		}

	}

	.icons_mobilemu {
		margin-right: 30px;
	}

	.chat_delete {
		display: inline-block;
		margin-top: -1px;
		font-weight: 700;
		font-size: 16px;
		line-height: 23px;
		color: #000;
		cursor: pointer;
	}

	.delete_cancel {
		font-weight: 700;
		font-size: 16px;
		line-height: 23px;
		color: #A7A9AC;
		cursor: pointer;
	}

	.btn_delete_cancel {
		// flex: 0 0 54px;
		position: relative;
		color: #999;
		margin-right: 15px;
		display: flex;
		width: 100%;

		.form-inline {
			margin-left: 18px;
		}

		.right_area {
			margin-left: auto;
			width: 40%;
		}
	}

	.talk_pc_user .chat_list_footer .btn_delete_cancel {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 54px;
		flex: 0 0 54px;
		position: relative;
		color: #999;
	}

	input,
	select,
	table,
	textarea {
		font-size: 14px;
	}

	.chat_section {
		display: flex;
		flex-direction: column;
		position: relative;
		height: 100%;
		background: #f0f2f5;
		box-sizing: border-box;
	}

	.chat_header {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1000;
		padding: 15px 0 15px 15px;
		border-bottom: 1px solid #dfe1e2;
		background-color: rgba(240, 242, 245, .95);
	}

	.chat_header_top {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.info_area {
		display: flex;
		align-items: center;

		.icons_user {
			width: 40px;
			height: 40px;
		}
	}

	.thumbnail_area {
		position: relative;
	}

	.chat_header_top .thumbnail_wrap {
		width: 41px;
		height: 41px;
		border-color: #ededed;
	}

	.thumbnail_wrap,
	.thumbnail_wrap:before {
		border-radius: 50%;
	}

	.thumbnail_wrap {
		flex: none;
		position: relative;
		overflow: hidden;
		background-color: #fff;
		box-sizing: border-box;
	}

	.text_wrap {
		display: flex;
		flex-direction: column;
		flex: 1 1;
		overflow: hidden;
		margin: 3px 0 0 9px;
	}

	.name_area {
		display: flex;
		align-items: center;
	}

	.chat_header_menu {
		display: flex;
		flex: none;
		align-items: center;
	}

	.chat_menu_wrap {
		position: relative;

		.ly_setting_wrap {
			position: absolute;
			top: calc(100% + 8px);
			right: 20px;
			z-index: 5;
			width: 242px;
			padding-top: 17px;
			box-sizing: border-box;
			background: #FFFFFF;
			border: 1px solid #D1D3D4;
			border-radius: 5px;
		}
	}

	.title_section {
		display: flex;
		align-items: center;
		margin-left: 20px;
		margin-bottom: 10px;
	}

	.btn_setting_close {
		margin-left: auto;
		margin-right: 20px;

		.icons_close {
			width: 15px;
			margin-top: -7px;
			cursor: pointer;
		}
	}

	.btn_setting_item {
		border: 0.4px solid #D1D3D4;
	}


	.ly_setting_title {
		margin: 0 20px;
		padding-bottom: 19px;
		border-bottom: 1px solid #ebebeb;
	}

	.title_text {
		display: inline-block;
		margin-right: 10px;
		font-size: 14px;
		font-weight: 600;
	}

	.btn_setting_item {
		display: flex;
		align-items: center;
		width: 100%;
		padding: 17px 20px 18px;
		font-size: 13px;
		font-weight: 600;
		color: #333;
		text-align: left;
		box-sizing: border-box;
	}

	.setting_item_wrap {
		display: inline-block;
		flex: 1;
		position: relative;
	}

	.btn_text {
		font-weight: 500;
		line-height: 1.5;

		&:hover,
		&:focus,
		&:active {
			color: #7391FA;
		}
	}

	.lst_setting_menu>li+li:before,
	.lst_setting_menu>li:last-child:after {
		position: absolute;
		right: 20px;
		left: 20px;
		// height: 1px;
		background-color: #f7f7f7;
		content: "";
	}

	.chat_area {
		flex: 1 1 auto;
		position: relative;
		z-index: 100;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.group_message_balloon {
		position: absolute;
		top: 0;
		right: 0;
		left: 14px;
		padding: 90px 14px 24px 0;

		.rgt .txt_confirm {
			display: flex;
			right: 100%;
			left: inherit;
			margin: 0 -8px 0 0;
			text-align: right;
		}

	}

	.date_check {
		margin-bottom: 12px;
		text-align: center;
		margin-top: 20px;

		em {
			display: inline-block;
			height: 25px;
			font-size: 12px;
			color: #fff;
			line-height: 25px;
		}
	}

	.date_check>span {
		display: inline-block;
		padding: 0 12px 1px;
		border: 1px solid #c9cfd5;
		border-radius: 15px;
		background: #cdd3d8;
	}

	.new_message_balloon_area {
		position: relative;
	}

	.new_message_balloon_area .thumbnail_profile {
		position: absolute;
		top: 5px;
		left: 0;
	}

	.thumbnail_profile {
		.icons_user {
			width: 32px;
			height: 32px;
		}
	}

	.message_balloon {
		position: relative;
		float: left;
		max-width: 73%;
		margin-bottom: 0;
		margin-left: 40px;
		border: 1px solid #dfdfdf;
		border-radius: 12px;
		background-color: #fff;
		line-height: 1.5;
		word-wrap: break-word;
	}

	.txt_confirm {
		position: absolute;
		bottom: 1px;
		left: 100%;
		min-width: 60px;
		margin-left: 10px;
		font-size: 11px;
		color: #aeb1b4;
	}

	// .new_message_balloon_area+li {
	// 	margin-top: 80px;
	// }

	.group_message_balloon .new_message_balloon_area:after,
	.group_message_balloon .new_message_balloon_area:after {
		display: block;
		clear: both;
		content: "";
	}

	.message_balloon.card_message.space {
		margin-top: 8px !important;
	}

	.message_balloon.rgt.card_message {
		background: #E7EDFF;
		border: 1px solid #D1DBFF;
		margin-top: 30px;
	}

	.message_balloon.rgt {
		float: right;
		max-width: 80%;
		margin-right: 5px;
	}

	.message_balloon>p {
		padding: 11px 13px;
		border-radius: 12px;
		font-size: 14px;
		color: #1e1e23;
	}

	.chat_write {
		display: flex;
		flex-direction: column;
		flex: 0 0 auto;
		position: relative;
		z-index: 100;
	}

	.chat_write_area {
		display: flex;
		align-items: center;
		background-color: #fff;
	}

	.chat_write_wrap {
		display: flex;
		flex: 1;
		border: 1px solid #e0e0e0;
		box-sizing: border-box;
	}

	.input_btn_wrap {
		display: flex;
		align-items: stretch;
		height: 49px;
		padding-left: 10px;
	}

	.input_btn_wrap [class*=btn_] {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 34px;
	}

	.chat_layer_sticker {
		z-index: 100;
		margin: 0 -1px;
	}

	.chat_sticker {
		width: 100%;
		height: 100px;
	}

	.chat_sticker_list {
		position: absolute;
		top: -6px;
		left: 0;
		z-index: 10;
		float: left;
		overflow: hidden;
		width: 100%;
		height: 107px;
		border: 1px solid #dee0e5;
		background: #fff;
		text-align: center;

		ul {
			overflow-y: auto;
			max-height: 100%;
		}

		li {
			width: 14.285%;
			margin-bottom: 20px;
		}

	}

	.chat_lst_sticker_set {
		overflow: hidden;
		height: 135px;
		padding-top: 15px;
		padding-right: 15px;
		padding-left: 15px;
		white-space: nowrap;
	}

	.chat_lst_sticker_set>li {
		float: left;
	}

	.imageUploader {
		height: 0px;
		position: fixed;
	}

	.chat_input_area {
		flex: 1 0;
		height: 50px;
		margin-left: 1px;
		padding: 15px 0 14px;
		display: flex;
	}

	.chat_input {
		overflow-y: auto;
		width: 100%;
		height: 100%;
		padding: 0 17px 0 6px;
		font-size: 15px;
		color: #454545;
		line-height: 1.35;
		box-sizing: border-box;

		&::placeholder {
			color: #A7A9AC;
		}
	}

	textarea {
		border: none;
		outline: none;
		resize: none;
	}

	.submit_btn_wrap {
		display: flex;
		align-items: center;
		margin-right: 10px;
	}

	.icon_emoticon_off {
		display: inline-block;
		width: 24px;
		height: 27px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/icon_emoticon_off.png);

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_emoticon_on.png);
			cursor: pointer;
		}
	}

	.icon_send_off {
		display: inline-block;
		width: 24px;
		height: 27px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/icon_send_off.png);

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_send_on.png);
			cursor: pointer;
		}
	}

	.new_mark {
		width: 35px;
		height: 19px;
		background: #4FCED0;
		border-radius: 9px;
		margin-left: 5px;
	}

	.new_font {
		font-weight: 700;
		font-size: 12px;
		line-height: 17px;
		display: flex;
		align-items: center;
		text-align: center;
		color: #FFFFFF;
		justify-content: center;
	}

	.stu_num {
		font-weight: 400;
		font-size: 16px;
		line-height: 23px;
		display: flex;
		align-items: center;
		text-align: center;
		color: #A7A9AC;
		margin: 10px 0px 10px 20px;
	}

	.message_image {
		width: 300px;
		height: 225px;
		background: #FFFFFF;
		border: 0.4px solid #A7A9AC;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}

	.message_image .icons_thumbnail {
		width: 52px;
		height: 52px;

		&:hover,
		&:focus,
		&:active {
			cursor: pointer;
		}
	}

	.strong_blue {
		font-weight: 700;
		font-size: 16px;
		line-height: 23px;
		color: #7391FA;
	}

	.sch_none_text {
		font-weight: 400;
		font-size: 16px;
		line-height: 23px;
		color: #A7A9AC;
		margin-bottom: 10px;
	}

	.sch_none_wrap {
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 131px 0;
	}

	.btn_sch_none {
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
		display: flex;
		align-items: center;
		text-align: center;
		color: #7391FA;
		gap: 4px;
	}

	.btn_sch_back {
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
		display: flex;
		align-items: center;
		text-align: center;
		color: #A7A9AC;
		gap: 5px;
		justify-content: flex-end;
		margin-top: 10px;
		margin-right: 10px;
	}

	.btn_delete {

		display: flex;
		width: 100%;

		.form-inline {
			margin-left: 18px;
		}

		.delete_cancel {
			margin-left: auto;
			width: 12%;
		}
	}



	.nodata {
		font-weight: 700;
		font-size: 16px;
		line-height: 23px;
		display: flex;
		align-items: center;
		text-align: center;
		color: #A7A9AC;
		justify-content: center;
		margin: 248px auto;
	}

}

/* 팝업 S2- 채팅하기 팝업창
[개발참조] 학생탭에서 학생 프로필이미지 클릭 시 출력되는 팝업 */
.modal_chat {
	.icons_user {
		width: 110px;
		height: 110px;
	}

	.user_name {
		font-weight: 700;
		font-size: 16px;
		line-height: 23px;
		margin-top: 20px;
		margin-bottom: -20px;
	}

	.icon_talk_on {
		display: inline-block;
		width: 22px;
		height: 22px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/icon_talk_on.png);
	}

	.btn_chat {
		width: 200px;
		height: 50px;
	}

	.modal-content {
		width: 80%;
	}
}

/* 출결관리-학생출결.html
출결-팝업 L [개발참조] 학생관리 출결팝업 동일 사용  */
.modal_moreattendance {
	.text_unselected_color {
		background: #A7A9AC;
	}

	.inst label {
		background: #fff !important;
	}

	.meta label {
		background: #D1D3D4 !important;
	}

	.inst {
		background: #D1DBFF;
		border-radius: 5px;
		color: #454545;
		width: 100%;
		height: 20px;
		text-align: center;
		align-items: center;
		display: flex;
		justify-content: center;
		gap: 4px;
	}
}