@use "theme";
@use "mixin";
/*---------------------------------------*/
/*--------   5. ac_preparation2.scss ----*/
/*---------------------------------------*/

/* jeh-2022.09.14 */

/* -----------------------------    자료실    ----------------------------- */

/* 자료실-필터 (팝업 M1) */

#modalDatafilter {
  .filter_name.title {
    font-weight: 400;
    font-size: 16px;
  }

  .filter_first {
    width: 680px;
    margin-top: 20px;
  }

  .filter_name {
    display: inline-block;
    padding: 10px 0px 10px;
    font-weight: 400;
    font-size: 14px;
  }

  .filter_second {
    width: 680px;
    padding: 10px 17px;
    text-align: left;
    margin: 10px 0px;
  }

  .filter_third {
    width: 680px;
    padding: 10px 17px;
    text-align: left;
    margin: -25px 71px;
  }

  .filter_forth {
    width: 680px;
    padding: 10px 17px;
    text-align: left;
    margin: 30px 0px;
  }

  .filter_fifth {
    width: 680px;
    padding: 10px 17px;
    text-align: left;
    margin: -25px 0px;
  }

  .filter_box {
    position: relative;
    width: 680px;
    height: 350px;
    left: 41px;
    top: 20px;
    border: 0.4px solid #A7A9AC;
    border-radius: 3px;
  }

  .modal-footer {
    padding-top: 70px;
  }

  .modal-body {
    text-align: center;
    padding-top: 0px;
    height: 320px;
  }

  .filter_name {
    margin: 0 20px;
  }

  .filter_control {
    width: 545px;
  }

  .modal .modal-footer {
    padding-bottom: 20px;
  }
}


/* 자료실-자료검색결과 (팝업 L) */

#modalDatafilterResult {
  .input-search {
    width: 16%;
  }

  .table_area {
    position: relative;
    height: auto;
    overflow: hidden;
    margin-top: 25px;
    @include mixin.border_common;

    .table_thead {
      background: #F9F9FB;
    }

    .table_tbody {
      position: relative;
      width: 100%;
      height: 350px;
      overflow-y: auto;
    }
  }

  th {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: theme.$text_unselected_color;
  }

  thead {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 30px;
    background: #F9F9FB;
  }

  tbody {
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  td {
    line-height: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 14px;
    color: theme.$text_default_color;
    vertical-align: middle;
  }

  .title {
    width: 255px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .path {
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .keyword {
    width: 219px;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  .tb {
    position: relative;
    width: 100%;
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .btn_crud_point {
    min-width: 70px;
  }

  .modal-body {
    text-align: center;
    padding-top: 35px;
    height: 580px;
  }

  thead tr {
    @include mixin.border_common;
  }

  .bg {
    background-color: theme.$color_background;
  }

  .name {
    padding: 0 35px 0 0;
  }

  .pagination {
    justify-content: center;
  }

  .result {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: theme.$text_unselected_color;
    text-align: left;
    margin: 5px 0px;
  }

  .copy {
    margin: 0 765px 0 0px;
  }
}

/* jeh-2022.09.15 */

/* 자료등록01 (팝업 L) */

#modalDataregi {
  .box01 {
    @include mixin.border_common;
    display: inline-block;
    width: 290px;
    height: 190px;
    margin: 15px 15px;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid theme.$color_light1;
      color: theme.$color_light1;
      cursor: pointer;

      .regi_icon01 {
        background-image: url(../images/icon_video_play_on.png);
      }

    }

    .regi_icon01 {
      background-image: url(../images/icon_video_play_off.png);
      height: 100%;
      background-size: cover;
      display: block;
      width: 48px;
      height: 27px;
      margin: 40px 0 28px 120px;
    }

    div:last-child {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: theme.$text_unselected_color;
    }
  }

  .box02 {
    @include mixin.border_common;
    display: inline-block;
    width: 290px;
    height: 190px;
    margin: 15px 15px;
    position: relative;
    top: 10px;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid theme.$color_light1;
      color: theme.$color_light1;
      cursor: pointer;

      .regi_icon02 {
        background-image: url(../images/icon_paper_text_on.png);
      }

    }

    .regi_icon02 {
      background-image: url(../images/icon_paper_text_off.png);
      height: 100%;
      background-size: cover;
      display: block;
      width: 30px;
      height: 37px;
      margin: 40px 0 28px 128px;
    }

    div:last-child {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: theme.$text_unselected_color;
    }
  }

  .box03 {
    @include mixin.border_common;
    display: inline-block;
    width: 290px;
    height: 190px;
    margin: 15px 15px;
    position: relative;
    top: 13px;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid theme.$color_light1;
      color: theme.$color_light1;
      cursor: pointer;

      .regi_icon03 {
        background-image: url(../images/icon_quiz_on.png);
      }

    }

    .regi_icon03 {
      background-image: url(../images/icon_quiz_off.png);
      height: 100%;
      background-size: cover;
      display: block;
      width: 40px;
      height: 40px;
      margin: 40px 0 28px 120px;
    }

    div:last-child {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: theme.$text_unselected_color;
    }
  }

  .box04 {
    @include mixin.border_common;
    display: inline-block;
    width: 290px;
    height: 190px;
    margin: 15px 15px;
    position: relative;
    top: -10px;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid theme.$color_light1;
      color: theme.$color_light1;
      cursor: pointer;

      .regi_icon04 {
        background-image: url(../images/icon_exam_on.png);
      }

    }

    .regi_icon04 {
      background-image: url(../images/icon_exam_off.png);
      height: 100%;
      background-size: cover;
      display: block;
      width: 42px;
      height: 40px;
      margin: 40px 0 28px 120px;
    }

    div:last-child {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: theme.$text_unselected_color;
    }
  }

  .box05 {
    @include mixin.border_common;
    display: inline-block;
    width: 290px;
    height: 190px;
    margin: 15px 15px;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid theme.$color_light1;
      color: theme.$color_light1;
      cursor: pointer;

      .regi_icon05 {
        background-image: url(../images/icon_youtube_on.png);
      }

    }

    .regi_icon05 {
      background-image: url(../images/icon_youtube_off.png);
      height: 100%;
      background-size: cover;
      display: block;
      width: 45px;
      height: 30px;
      margin: 40px 0 28px 120px;
    }

    div:last-child {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: theme.$text_unselected_color;
    }
  }

  .box06 {
    @include mixin.border_common;
    display: inline-block;
    width: 290px;
    height: 190px;
    margin: 15px 15px;
    position: relative;
    top: 6px;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid theme.$color_light1;
      color: theme.$color_light1;
      cursor: pointer;

      .regi_icon06 {
        background-image: url(../images/icon_link_on.png);
      }

    }

    .regi_icon06 {
      background-image: url(../images/icon_link_off.png);
      height: 100%;
      background-size: cover;
      display: block;
      width: 36px;
      height: 36px;
      margin: 40px 0 28px 120px;
    }

    div:last-child {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: theme.$text_unselected_color;
    }
  }
}

/* 자료등록02-1 (팝업 L) */

#modalDataregi02 {
  .box01 {
    @include mixin.border_common;
    display: inline-block;
    width: 290px;
    height: 190px;
    margin: 15px 15px;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid theme.$color_light1;
      color: theme.$color_light1;
      cursor: pointer;
    }

    .sub02 {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: theme.$text_unselected_color;
    }

    .sub {
      margin: 73px 0;
    }
  }
}

/* 자료등록02-1 (팝업 L) */

#modalDataregi03 {
  .box01 {
    @include mixin.border_common;
    display: inline-block;
    width: 620px;
    height: 240px;
    margin: 15px 15px;
  }

  .sub {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: theme.$text_unselected_color;
    margin: 20px 0;
  }

  .title {
    color: theme.$color_light1;
    margin: 50px 0px 20px 0px;
  }

  .form-inline {
    width: 458px;
  }

  .modal-body {
    padding-bottom: 35px;
  }
}

/* 자료실-자료열람-동영상,문서 (팝업 L) */

#modalDataRead {
  .video {
    width: 758px;
    height: 392px;
    background-color: theme.$color_normal;
    margin-left: 173px;
  }

  .pdf {
    width: 758px;
    height: 392px;
    background-color: theme.$color_normal;
    margin-left: 173px;
  }

  .bar {
    width: 759px;
    height: 50px;
    background: theme.$text_unselected_color;
  }

  .pdf_title {
    color: theme.$color_white;
    width: 485px;
    display: inline-block;
    line-height: 46px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 165px;
  }

  .list {
    background-image: url(../images/icon_list_off.png);
    width: 27px;
    height: 23px;
    display: inline-block;
    margin: 0 50px 34px 0px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  .full {
    background-image: url(../images/icon_screenfull_w.png);
    width: 23px;
    height: 23px;
    display: inline-block;
    margin: 0 0 35px -29px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }

  .btnsec {
    margin: 30px 0px 0 560px;
  }

  .btn_crud_default {
    margin: 0px 10px 0 0;
  }

  .modal-body {
    overflow-y: scroll;
    height: 580px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .title {
    display: inline-block;
    margin-right: 60px;
  }

  .title02 {
    display: inline-block;
    margin-right: 94px;
  }

  .title02-1 {
    margin: 0px 34px 0 0;
  }

  .title03 {
    display: inline-block;
    margin-right: 70px;
  }

  .title03-1 {
    margin: 0 800px 0px 0;
  }

  .title04 {
    display: inline-block;
    margin-right: 59px;
  }

  .title04-1 {
    margin: 0 826px 0px 0;
  }

  .title05 {
    display: inline-block;
    margin-right: 73px;
  }

  .title05-1 {
    margin: 0 841px 0px 0px;
  }

  .title06 {
    display: inline-block;
    margin-right: 98px;
  }

  .title06-1 {
    margin: 0 838px 0px 0;
  }

  .title07 {
    display: inline-block;
    margin-right: 100px;
  }

  .title07-1 {
    margin: 0 680px 0px 0;
  }

  .cont {
    margin: 15px 790px 0 0px;
  }

  .cont02 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: theme.$text_unselected_color;
    margin: 15px 36px 0 0px;
  }

  .line {
    border: 0.4px solid theme.$text_caption_color;
    width: 1027px;
    margin: 20px 0 0 33px;
  }
}

/* 팝업 S2- 자료실 자료열람(동영상, 문서) 자료 공유 */

#modalDataShare01 {
  .form-share {
    width: 350px;
    margin: 23px 0px 0px 0px;
    padding: 0px 11px;
    font-size: 14px;
    border-radius: 5px;
    border-color: rgba(167, 169, 172, 0.4);
    border-width: 0.4px;
    display: inline-block;
    vertical-align: middle;
  }
}


/* 팝업 S2- 자료실 자료열람(동영상, 문서) 자료 삭제  */

#modalDataDelete {
  .modal-body {
    padding-bottom: 5px;
    padding-top: 25px;
  }

  .modal-footer {
    padding-bottom: 20px;
  }
}

/* 자료실-자료등록03-동영상/문서 (팝업 L) */

#modalDataRegiModi {

  .modal-body {
    text-align: center;
    padding: 35px 35px 5px 35px;
  }

  .regi_area {
    text-align: left;
    padding: 0 15px;
  }

  .form-group label {
    font-weight: 400;
    font-size: 16px;
    margin-right: 5px;
    line-height: 39px;
    vertical-align: middle;
  }

  .form-group .check {
    margin-right: 0px;
  }

  .cont07 {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
  }

  .check01 {
    margin: 0 24px 0 17px;
  }

  .info {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: theme.$color_notice;
  }

  .regi_area.right {
    .form-group>label {
      padding-top: 20px;
    }

    label,
    label+div {
      line-height: initial;
    }
  }

  .form-path {
    width: 68%;
    display: inline-block;
    vertical-align: middle;
  }

  .thumb_box {
    box-sizing: border-box;
    height: 545px;
    @include mixin.border_common;
    padding: 0 15px;
  }

  .row {
    padding: 5px 0px;
  }

  .thumbnail_view {
    height: 290px;
    background: theme.$color_normal;
    padding: 10px 0px;
    margin-top: 10px;
  }

  .title {
    padding: 5px 0px 0 15px;
  }

  .check03 {
    padding: 40px 0px;
  }

  .name {
    padding-top: 30px;
  }

  .cont {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: theme.$text_unselected_color;
  }

  .dropdown .dropdown-toggle {
    color: #454545;
    font-size: 14px;
    box-shadow: none;
    border-radius: 5px;
    border-color: rgba(167, 169, 172, 0.4);
  }

  .fileChange {
    margin: -25px 0px 0px 359px;
  }

}

/* jeh-2022.09.19 */

/* -----------------------------    레슨    ----------------------------- */

/* 레슨열람 (팝업 L) */
/* 왼쪽 영역 */
#modalLessonView {

  .col {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .fran {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/icon_fran.png);
    margin-right: 10px;
  }

  .inst {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/icon_institute.png);
    margin-right: 10px;
  }

  .normal {
    margin: 0 0 0 30px;
  }

  .check_disabled {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/icon_checkbox_disabled.png);
    margin-right: 10px;
  }

  .modal_ac_manage_lesson .list_box,
  .modal_ac_manage_curi .list_box {
    border: 0.4px solid rgba(167, 169, 172, 0.4);
    border-radius: 5px;
    padding: 10px 5px;
    overflow-y: scroll;
  }

  .cont,
  .cont label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: theme.$text_unselected_color;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* 레슨열람 (팝업 L) */
  /* 왼쪽 영역 - 동영상,문서 컨텐츠 */

  .thumb_box {
    box-sizing: border-box;
    height: 545px;
    @include mixin.border_common;
    padding: 0 15px;
  }

  .row {
    padding: 5px 0px;
  }

  .thumbnail_view {
    height: 290px;
    background: theme.$color_normal;
    padding: 10px 0px;
    margin-top: 10px;
  }

  .form-group {
    margin-bottom: 0px;
  }

  .div_line {
    border-top: 0.4 solid theme.$text_unselected_color;
  }

  .title {
    margin: 5px 0 0 0;
  }

  .name {
    padding-top: 30px;
  }
}