/*---------------------------------------*/
/*--------   app_student.scss   ---------*/
/*---------------------------------------*/

.content_app {
  background-color: #FFF !important;
}

.nav_app {
  .title_area {
    margin: 0 auto;
    font-weight: 700;
    font-size: 25px;
    line-height: 43px;
    align-items: center;
    display: flex;
  }
}

.app_notice {
  display: flex;
  flex-flow: column;

  .user_title {
    margin-top: 0px !important;
  }

  .icons_user {
    margin-top: 13px;
  }

  .notice_title {
    margin: 0 auto;
    width: 100% !important;
    font-weight: 500;
    font-size: 35px;
    line-height: 53px;
    margin-top: 20px;
  }

  .notice_title02 {
    margin-top: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    display: flex;

    .icons_user {
      margin-right: 5px;
      width: 30px;
      height: 30px;
    }

    .notice_writer {
      width: 16% !important;
      display: flex;
      align-items: center;
    }

    .notice_day02 {
      width: 33% !important;
      align-items: center;
      display: flex;
    }
  }

  .line {
    border: 0.4px solid #D1D3D4;
    margin-top: 20px;
  }

  .file_info {

    .file_info02 {
      margin-top: 30px;
    }

    .file_name {
      display: flex;
      align-items: center;
      margin: 10px auto !important;
    }

    .icons_download {
      display: flex;
      align-items: center;
      margin-left: auto;
    }

    .file_info03,
    .file_name {
      font-weight: 400;
      font-size: 20px;
      line-height: 36px;
    }
  }

  .content_area {
    width: 97%;
    height: 332px;
    border: none !important;
    border-radius: 5px;
    overflow-y: unset !important;

    .notice_content {
      font-weight: 400;
      font-size: 25px;
      line-height: 38px;
      margin: 10px 0 !important;
    }

    // .thumbnail {
    //   background: #F9F9FC;
    //   width: 615px;
    //   height: 350px;
    // }

    .box {
      width: 40% !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }



}

.ac_manage_notice_app {
  .icon_reply_left {
    display: inline-block;
    width: 23px;
    height: 22px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/icon_reply_left.png);
    margin-right: 5px;
  }

  .table_section {
    overflow-x: hidden;
  }

  .ReplyBox {
    position: relative;
    margin-bottom: 27px;
    line-height: 19px;

    .button_comment {
      vertical-align: top;
      font-weight: 500;
      font-size: 22px;
      line-height: 24px;
      display: flex;
      align-items: center;

      .icon_reply_new {
        display: inline-block;
        width: 40px;
        height: 40px;
        text-align: center;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-image: url(../images/icon_reply_new.png);
        margin-bottom: 10px;
      }

      .num {
        margin-left: 5px;
        font-weight: 700;
        font-size: 22px;
        line-height: 24px;
      }
    }
  }

  .CommentBox {
    margin-top: -17px;
    border-top: 0.4px solid #D1D3D4;
  }

  .comment_option {
    position: relative;
    padding-top: 16px;

    .comment_title {
      float: left;
      margin-top: 3px;
      margin-right: 12px;
      font-size: 17px;
      font-weight: 700;
    }


    .comment_tab {

      .comment_tab_item:first-child {
        margin-left: 0;
      }

      .comment_tab_list:after {
        content: "";
        display: block;
        clear: both;
      }

      .comment_tab_item {
        float: left;
        margin-left: 8px;
      }

      .comment_tab_item .comment_tab_button {
        color: var(--skinTextb7b7b7);
        font-weight: 700;
      }

      .comment_tab_list {
        display: inline-block;
        margin-top: 7px;
        font-size: 13px;
        vertical-align: top;
      }

      .comment_tab_item .comment_tab_button[aria-selected=true] {
        color: #454545;
      }

      .comment_tab_item .comment_tab_button {
        color: #A7A9AC;
        font-weight: 700;
      }
    }
  }

  .comment_thumb {
    position: absolute;
    top: 12px;
    left: 0;
    width: 36px;
    height: 36px;
  }

  .comment_box {
    padding-left: 0px;
  }

  .comment_nick {
    padding-left: 64px;
  }

  .comment_nick02 {
    display: flex;
  }

  .comment_nick_box {
    margin-bottom: 4px;
  }

  .comment_nick_info {
    display: inline-block;
    position: relative;
    font-size: 13px;
    vertical-align: top;
  }

  .comment_nickname {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 4px;
  }

  .CommentItem:first-child {
    border-top: 0;
  }

  .comment_area {
    position: relative;
    padding: 16px 23px 16px 0;
  }

  .comment_thumb {
    position: absolute;
    top: 0px;
    left: 0;
    width: 36px;
    height: 36px;
  }

  .comment_text_box {
    position: relative;
    font-size: 13px;
    word-break: break-all;
    word-wrap: break-word;

    .comment_text_view {
      overflow: hidden;
      margin-top: 20px;
    }

    .text_comment {
      word-break: break-all;
      word-wrap: break-word;
      vertical-align: top;
      font-weight: 400;
      font-size: 25px;
      line-height: 32px;
    }
  }

  .comment_info_box {
    color: #A7A9AC;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .comment_tool {
    position: absolute;
    top: 12px;
    right: 0;

    .comment_tool_button {
      display: block;
      width: 16px;
      height: 16px;
      text-align: right;
    }
  }

  .icons_mu_off {
    display: inline-block;
    width: 4px;
    height: 20px;
  }


  .more_mu {
    width: 30px;
    position: relative;

    .more_list li {
      padding: 5px 20px;
      min-width: 117px;
      text-align: left;
      border-top: 0.4px solid #D1D3D4;
    }

    .more_list {
      position: absolute;
      right: 10px;
      top: 25px;
      font-weight: 400;
      font-size: 22px;
      border-radius: 5px;
      border: 0.4px solid rgba(167, 169, 172, 0.4);
      background: #fff;
      z-index: 2;
    }

    li:first-child {
      border-top: none;
    }
  }

  .comment_info_button {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  .comment_info_date {
    margin-right: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #A7A9AC;
  }


  .CommentItem {
    position: relative;
    border-top: 0.4px solid #D1D3D4;
  }

  .CommentItem--mine {
    background: #fff;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -20px;
      bottom: -1px;
      width: 105%;
      background: #fff;
    }
  }

  .CommentItem--reply+.CommentItem--reply {
    padding-left: 0;
    margin-left: 46px;
  }

  .CommentItem--reply {
    padding-left: 46px;
  }

  a {
    color: inherit;
  }

  .icons_refresh {
    display: inline-block;
    width: 12px;
    height: 11px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/icons/icon_refresh.svg);
    margin-top: 9px;
    margin-left: 3px;

    &:hover,
    &:focus,
    &:active {
      background-image: url(../images/icons/icon_refresh_hover.svg);
      cursor: pointer;
    }
  }

  .icons_user {
    width: 50px;
    height: 50px;
  }

  .comment_badge_writer {
    color: #FB5353;
    width: 59px;
    height: 25px;
    border: 1px solid #FB5353;
    border-radius: 20.5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    padding: 0px 9px;
    margin-left: 4px;
  }

  .CommentWriter {
    margin: 12px 0;
  }

  .CommentWriter {
    padding: 16px 10px 10px 18px;
    border: 1px solid #D1D3D4;
    border-radius: 6px;
    box-sizing: border-box;
    background: #fff;
    width: 95%;
    display: flex;
    height: 90px;
  }

  .comment_inbox {
    position: relative;
    margin-bottom: 10px;
    width: 90%;
  }

  .comment_attach {
    width: 10%;
    margin-top: 9px;
  }

  .comment_inbox_text {
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    width: 100%;
    min-height: 17px;
    padding-right: 1px;
    border: 0;
    font-size: 20px;
    resize: none;
    box-sizing: border-box;
    background: transparent;
    color: #454545;
    outline: 0;
    max-height: 500px;
  }

  .CommentItem--textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .icons_x_circle_off {
    display: inline-block;
    width: 22px;
    height: 22px;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/icons/icon_x_circle_off.svg);

    &:hover,
    &:focus,
    &:active {
      background-image: url(../images/icons/icon_x_circle_on.svg);
      cursor: pointer;
    }
  }

  .CommentWriter_main {
    width: 90%;
  }

  textarea::placeholder {
    color: #A7A9AC;
  }

  .text_regi {
    // @media (max-width: 1199.98px) {
    //   font-size: 15px;
    //   line-height: 25px;
    //   padding: 6px 15px;
    // }

    width: 100px;
    padding: 26px 0px;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    height: 90px;
  }

  .reply_x {
    .icon_reply {
      display: inline-block;
      width: 24px;
      height: 24px;
      text-align: center;
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      background-image: url(../images/icon_reply.png);
      margin-bottom: 3px;
      margin-right: 3px;
    }

    .comment_title {
      float: left;
      margin-top: 3px;
      margin-right: 12px;
      font-size: 17px;
      font-weight: 700;
      margin-bottom: 10px;
    }
  }

  .comment_wirter {
    display: flex;
    gap: 10px;
    align-items: center;
    border-top: 0.4px solid #D1D3D4;
  }

}