.example .ql-editor {
  min-height: 85px;
}

.button_margin_top_3 {
  margin-top: 12px;
}

.edit_area_padding_12 {
  padding: 12px;
  text-align: initial !important;
}

/* 에디터 css */
.ql-align-right {
  text-align: right;
}
.ql-align-center {
  text-align: center;
}
.ql-align-left {
  text-align: left;
}

/* 미리보기 영역 */
#modalPreviewQuiz .question_area04-1,
#modalPreviewTest .question_area04-1 {
  min-height: 205px;
  height: 100%;
  padding: 12px 0;
}

#modalPreviewQuiz .answer_area04,
#modalPreviewTest .answer_area04 {
  min-height: 257px;
  height: 100%;
}

#modalPreviewQuiz .answer_area04 .aa_result,
#modalPreviewTest .answer_area04 .aa_result {
  min-height: 45px;
  height: 100%;
}

#modalPreviewQuiz .answer_result,
#modalPreviewTest .answer_result {
  min-height: 512px;
  height: 100%;
}

/* 자료실 모달 vue2용 */
.background_close {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9997;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}

.modal-content {
  z-index: 9998;
}

.modal-enter-active {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

/* 레슨 열람 모달 */
#modalLessonView .thumb_box {
  height: 620px;
}
