@use "theme";
@use "mixin";
/*---------------------------------------*/
/*--------   0.incommon.scss   ----------*/
/*---------------------------------------*/

/* CSS-Common */
.inline_block {
	display: inline-block;
}

.form-group.form-inline {
	margin-bottom: 0;
}

.hide {
	display: none;
}

.input_file {
	.file_input_textbox {
		float: left;
		width: calc(100% - 115px);
		height: 39px;
		padding: 10px;
		font-size: 14px;
		border-radius: 5px;
		border-color: rgba(167, 169, 172, 0.4);
		border-style: solid;
		border-width: 0.4px;
		outline: none;
		box-shadow: none;
		margin-right: 5px;
	}

	.file_input_div {
		position: relative;
		overflow: hidden;
	}

	.file_input_img_btn {
		padding: 0 0 0 5px;
	}

	.file_input_hidden {
		font-size: 29px;
		position: absolute;
		right: 0px;
		top: 0px;
		opacity: 0;
		filter: alpha(opacity=0);
		-ms-filter: alpha(opacity=0);
		cursor: pointer;
	}
}

.front_button {
	width: calc(100% - 90px);
}

.form-group .btn {
	padding: 0.375rem 0.75rem;
}

.explainType01 {
	padding: 15px 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: theme.$color_normal;
	border-radius: 5px;
	text-align: left;
	font-size: 12px;
}

.form_ruletext {
	margin-top: -12px;
	font-size: 10.5px;
	color: theme.$text_unselected_color;
	text-align: left;
}

.invalid_text {
	margin-top: -12px;
	font-size: 10.5px;
	color: theme.$color_notice;
	text-align: left;
}

.valid_text {
	margin-top: -12px;
	font-size: 10.5px;
	color: theme.$color_light1;
	text-align: left;
}

.pretxt_area {
	white-space: pre-wrap;
	text-align: initial;
}

.divid {
	@include mixin.divid_line(#454545, 12px);
}

i.btn {
	padding: 0;
	border: none;
}

.calendar_date_bluebox {
	@include mixin.border_common;
	background-color: theme.$color-light4;
	border-color: theme.$color-light4;
	font-size: 14px;
	height: 39px;
	padding: 10px;
	margin-right: 5px;
}

.nothing_txt {
	@include mixin.nothing_txt(100%);
	flex-direction: column;
	min-height: 300px;

	.txt {
		line-height: 20px;
		margin-bottom: 15px;
	}

	.btn_area .btn:first-child {
		margin-right: 10px;
	}
}

.page_nodata {
	@include mixin.nothing_txt(100%);
	flex-direction: column;
	min-height: 300px;

	.btn {
		margin-top: 10px;
	}

	.btn+.btn {
		margin-left: 10px;
	}
}

.cal_symbol {
	position: relative;
	display: inline-block;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	background-color: theme.$color_light4;
	font-size: 27px;
	line-height: 25px;
	font-weight: 400;
	color: #454545;

	&.cross {
		transform: rotate(45deg);
	}
}

/* Layout-Common - nav */
$navtopHeight: 60px;

.nav_top_wrap {
	border-bottom: 1px solid theme.$color_hover;
}

.nav_top {
	@include mixin.relativeBox(64px);
	$height: 64px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0 20px;

	.logo_area {
		line-height: $height;
		padding: 0 15px;

		img {
			vertical-align: middle;
			height: 30px;
		}
	}

	.nav_area {
		line-height: $height;
	}

	.function_area {
		line-height: $height;

		.btn-refresh {
			margin-right: 10px
		}
	}

	.mobile_navbtn_area {
		width: 26px;
		line-height: $navtopHeight;

		.icons_mobilemu,
		.icons_close {
			width: 22px;
			height: 25px;
		}
	}
}

.nav_sub {
	@include mixin.relativeBox(65px);
	padding: 14px 0 10px;
}

.nav_mobile {
	.nav_top {
		height: $navtopHeight;
		min-width: unset;
		position: fixed;
		height: 60px;
		background-color: #fff;
		width: 100%;
		z-index: 100;
		border-bottom: 1px solid #E6E7E8;
	}

	.logo_area,
	.title_area {
		line-height: $navtopHeight;
		font-size: 18px;
		font-weight: theme.$font_bold;
	}

	.mobilemu_open {
		// border: 1px solid #fff;
		z-index: 2000;
		// display: none;
		position: absolute;
		width: 100%;
		max-width: 318px;
		height: 100%;
		top: 0;
		left: 0px;
		margin-left: -320px;
		background-color: theme.$color_white;

		li>a {
			text-decoration: none;
		}

		.momu_dapth01 {
			padding: 0 70px;

			li {
				position: relative;
				padding: 10px 0;
				font-weight: theme.$font_medium;

				a {
					display: inline-block;
					width: 100%;
					color: theme.$text_title_color;
				}

				a>i {
					position: absolute;
					top: 13px;
					right: 0;
				}
			}

		}

		// .momu_dapth01 > li > a::before {
		// 	content: '';
		// 	position: absolute;
		// 	top: 15px;
		// 	right: 0;
		// 	display: inline-block;
		// 	width: 18px;
		// 	height: 16px;
		// 	background-repeat: no-repeat;
		// 	background-size: contain;
		// 	background-image: url('../images/icons/icon_arrow.svg');
		// }

		// .momu_dapth01 > li > a.changed::before {
		// 	content: '';
		// 	position: absolute;
		// 	top: 15px;
		// 	right: 0;
		// 	display: inline-block;
		// 	width: 18px;
		// 	height: 16px;
		// 	background-repeat: no-repeat;
		// 	background-size: contain;
		// 	background-image: url('../images/icons/icon_arrow.svg');
		// 	transform: rotate(180deg);
		// }

		.momu_dapth01>li>a.changed>i {
			background-image: url('../images/icons/icon_arrow.svg');
			transform: rotate(360deg);
		}

		.momu_dapth02 {
			padding-left: 15px;

			&.hide {
				display: none;
			}

			li {
				padding: 10px 0;

				a {
					font-weight: 400;
					font-size: 14px;
					color: theme.$text_default_color;
				}
			}
		}

		.momu_dapth03 {
			padding-left: 15px;

			li {
				padding: 2px 0;

				a {
					font-weight: 400;
					font-size: 12px;
					color: theme.$text_unselected_color;
				}
			}
		}

		.function_area {
			margin: 40px 60px;

			button {
				text-align: left;
				border: none;
				font-size: 16px;
				font-weight: theme.$font_medium;
				line-height: normal;
				margin: 5px 0;
			}

			.btn_nav_myhome::before,
			.btn_nav_user::before,
			.btn_nav_bell::before {
				width: 24px;
				height: 24px;
				line-height: normal;
				vertical-align: middle;
				margin-top: -7px;
			}

		}

		.member_area {
			padding: 20px 60px;
			border-top: 1px solid rgba(167, 169, 172, .4);

			button {
				text-align: left;
				border: none;
				font-size: 14px;
				font-weight: theme.$font_medium;
				line-height: normal;
				margin: 2px 0;
			}

			.btn_login::before,
			.btn_memjoin::before {
				width: 16px;
				height: 16px;
				line-height: normal;
				vertical-align: middle;
				margin-top: -7px;
				margin-right: 8px
			}


		}
	}

	.mu_cover {
		@include mixin.cover();
		display: none;
	}
}

/* Layout-Common - content */
#content {
	background-color: theme.$color_normal;
	padding: 20px 25px 30px;
	height: calc(100% - 130px);

	// @media (min-width: 992px) {
	// 	height: calc( 100vh - 130px);
	// }
	// @media (max-width: 991.98px) {
	// 	padding: 0 15px;
	// 	// height: calc( 100vh - 61px);
	// }
	@media (max-width: 991.98px) {
		padding-bottom: 0;
	}
}

.content_area {
	@include mixin.widthMaxMin(1228px, null);
	// background-color: #fff;
	// height: 100%;
	height: auto;
	margin: 0 auto;
}

//고정형min992px 관련
/* Layout-Common - depth03content */
.web_only {

	// overflow: auto;
	.header,
	.content,
	.nav_top {
		min-width: 992px;
		overflow-x: auto;
	}

	#content {
		@media (max-width: 991.98px) {
			padding: 20px 25px 30px;
		}
	}

	&.modal-open .modal {
		overflow-x: auto;
	}
}

.tab-content.depth03,
// #modalClassDetail,
// .modal_ac_manage2_detail,
.modal .modal-body {
	>.tab-pane {
		// height: calc(100vh - 292px);
		min-height: 400px;
	}

	.search_section {
		position: relative;
		display: flex;
		align-items: center;
		margin-bottom: 15px;

		.left_area,
		.right_area {
			align-items: center;
		}

		.right_area {
			margin-left: auto;
		}

		.info_txt {
			display: inline-block;
			margin-left: 5px;
			padding-top: 2px;
			font-weight: 400;
			font-size: 16px;
			vertical-align: middle;
		}

		.info_box {
			display: inline-block;
			padding: 0 20px;
			border: 0.4px solid rgba(theme.$text_unselected_color, .4);
			border-radius: 5px;
			font-weight: 400;
			font-size: 16px;
			line-height: 40px;
			vertical-align: middle;
		}

		.input-search input[type='text']::placeholder {
			font-size: 16px;
			color: rgba(theme.$text_unselected_color, .7);
		}
	}

	.table_section {
		position: relative;
		height: auto;
		text-align: center;

		.table {
			thead th {
				font-weight: 400;
				font-size: 14px;
				padding-top: 25px;
				padding-bottom: 25px;
				border-top: none;
				border-bottom: 1px solid #D1D3D4;
				color: theme.$text_default_color;
			}

			tbody td {
				font-weight: 400;
				font-size: 16px;
				border-top: none;
				color: theme.$text_default_color;
			}
		}
	}

	.more_mu {
		width: 30px;
		position: relative;

		.more_list {
			position: absolute;
			right: 10px;
			top: 25px;
			font-weight: 400;
			font-size: 16px;
			border-radius: 5px;
			border: 0.4px solid rgba(theme.$text_unselected_color, .4);
			background: #fff;
			z-index: 2;
		}

		.more_list li {
			padding: 5px 20px;
			min-width: 117px;
			text-align: left;
			border-top: 0.4px solid #D1D3D4;

			&:first-child {
				border-top: none;
			}
		}
	}

	.pagination_section {
		position: relative;
		display: flex;
		justify-content: center;
	}
}

.pagination {
	.page-link {
		width: 39px;
		height: 39px;
		margin: 10px 1px;
		border: 1px solid rgba(167, 169, 172, .4);
		border-radius: 5px;
		background: #F9F9FB;
		font-weight: 500;
		font-size: 16px;
		color: #A7A9AC;
		text-align: center;
	}

	.page-link.active {
		background: #E6E7E8;
		color: #454545;
	}

	.page-link>span.previous {
		display: block;
		width: 100%;
		height: 100%;
		background: url('../images/icons/arrow_left.svg') no-repeat center center;
	}

	.page-link>span.next {
		display: block;
		width: 100%;
		height: 100%;
		background: url('../images/icons/arrow_left.svg') no-repeat center center;
		transform: rotate(180deg);
	}
}

/* Layout-Common - 2단 분리 컨텐츠 영역 */
.divide_section {
	position: relative;
	height: auto;
	overflow: hidden;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	.divide_area {
		width: 50%;
	}
}

/* Layout-Common - 일반 탭 컨텐츠 */
.nav-tabs:not(.depth03) .nav-link {
	color: #454545;
	font-size: 14px;

	&:not(.active) {
		isolation: isolate;
		border-color: #e9ecef #e9ecef #dee2e6;
	}
}

.nav-tabs:not(.depth03)+.tab-content {
	@include mixin.border_common;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: none;
	padding: 30px 15px;
	overflow-y: auto;
}

/* 검색결과 & 테이블 타입01 : thead,tbody분류 tbody스크롤방식 */
.search_result {
	border-radius: 5px;
	border: 1px solid rgba(167, 169, 172, .4);

	.table {
		font-size: 14px;
		margin-bottom: 0;

		th,
		td {
			padding: 4px 8px;
			vertical-align: middle;
		}

		thead {
			background-color: #F9F9FB;
			border-bottom: 1px solid rgba(167, 169, 172, .2);
		}

		thead th:first-child {
			border-top-left-radius: 5px;
		}

		thead th:last-child {
			border-top-right-radius: 5px;
		}

		th {
			font-size: 14px;
			padding: 4px 0.75rem;
			color: #A7A9AC;
		}

		td.id {
			text-align: left;
		}

		td.id span {
			display: inline-block;
			width: 130px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			@media (max-width: 360px) {
				width: 90px;
			}
		}

		.custom-control {
			vertical-align: middle;
			margin-top: 6px;
		}

		tr:last-child {
			border-radius: 5px;
		}
	}

	.tbl_overflow {
		display: block;
		height: 80px;
		overflow-y: auto;
	}
}

/* 알림창 */
.alert_cover {
	display: none;

	@media (max-width: 575.98px) {
		@include mixin.cover();
		z-index: 900;
	}
}

.alert_pops {
	display: none;
	position: absolute;
	z-index: 900;
	top: 68px;
	right: 4px;
	width: 420px;

	@media (min-width: 1200px) {
		right: calc(50% - 614px);
	}

	@media (max-width: 575.98px) {
		position: absolute;
		// top: 65px;
		top: 5px;
		right: 5;
		width: calc(100% - 10px);
		margin: 0 auto;
	}

	.alert_none {
		font-size: 14px;
		text-align: center;
		margin: 150px 0;
	}

	.title {
		position: relative;
		display: flex;
		align-items: center;
		background: #fff;
		border: 1px solid rgba(167, 169, 172, .4);
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom: 0;
		padding: 5px 13px;

		.tit {
			flex: auto;
			font-weight: theme.$font_medium;
		}

		.del_area {
			flex: auto;
			text-align: right;
			margin-left: auto;

			.btn {
				position: relative;
				font-size: 14px;
				color: theme.$text_unselected_color;
			}

			.btn:first-child::after {
				position: absolute;
				top: 6px;
				right: -5px;
				content: '|';
				font-size: 13px;
				color: #D1D3D4;
			}

			.icons_close {
				display: none;

				@media (max-width: 991.98px) {
					display: inline-block;
				}
			}
		}
	}

	.cnts {
		position: relative;
		background: theme.$color_normal;
		border: 1px solid rgba(167, 169, 172, .4);
		padding: 13px 20px;
	}

	.btn_area {
		position: relative;
		display: block;
		padding: 20px 0;
		background: theme.$color_light1;
		border: 1px solid rgba(167, 169, 172, .4);
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-top: 0;
		text-align: center;
		text-decoration: none;
		color: #fff;

		i {
			vertical-align: middle;
			margin-top: -4px;
			margin-right: 5px;
		}
	}
}

@mixin alert_label($bgcolor) {
	display: inline-block;
	margin-right: 5px;
	border-radius: 25px;
	background: #333;
	font-size: 14px;
	color: #fff;
	font-weight: 500;
	padding: 2px 12px 3px;
	background-color: $bgcolor;
}

.alert_box {
	position: relative;
	background: #fff;
	border: 1px solid rgba(167, 169, 172, .4);
	border-radius: 5px;
	padding: 9px 30px 13px 13px;
	margin-bottom: 10px;

	label.type01 {
		@include alert_label(theme.$color_blue);
	}

	label.type02 {
		@include alert_label(theme.$color_emerald);
	}

	label.type03 {
		@include alert_label(theme.$color_light1);
	}

	.btn_del {
		position: absolute;
		right: 2px;
		top: calc(50% - 10px);
		width: 22px;
		height: 22px;
	}

	.tit {
		display: inline-block;
		vertical-align: middle;
		margin-top: -3px;
		font-size: 14px;
		width: 72%;
		height: 25px;
		line-height: 25px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		cursor: pointer;
	}

	.info_area {
		position: relative;
		display: flex;
		padding-top: 7px;
		font-size: 12px;

		// color: theme.$text_unselected_color;
		@media (max-width: 767.98px) {
			display: block;
		}
	}

	.info_area .teacher {
		position: relative;
		flex: auto;
	}

	.info_area .teacher .cat {
		position: relative;
		vertical-align: middle;
	}

	.info_area .teacher .cat::before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		margin: -2px 2px 0 2px;
		width: 1px;
		height: 13px;
		border-right: 1px solid #A7A9AC;
	}

	.info_area .teacher .cat:first-child::before {
		display: none;
	}

	.info_area .teacher .cat:nth-child(2) {
		@include mixin.text_ellipsis(inline-block, 85px, 17px);
	}

	.info_area .teacher .cat:nth-child(3) {
		@include mixin.text_ellipsis(inline-block, 55px, 17px);
	}

	.info_area .teacher .cat:nth-child(4) {
		@include mixin.text_ellipsis(inline-block, 92px, 17px);
	}

	.info_area .date {
		margin-left: auto;
		padding-top: 2px;
		color: theme.$text_unselected_color;
	}
}

/* 알림-클래스 링크 */
.alert_cl_wrap {
	position: relative;
	height: auto;
	overflow: hidden;
	padding-left: 50px;
	text-align: left;
	background-image: url("../images/icons/line_v.svg");
	background-repeat: repeat-y;
	background-position: 25px 0;

	.alert_cl {
		position: relative;
		height: auto;
		margin-bottom: 40px;
	}

	.title {
		position: relative;
		font-weight: theme.$font_medium;
		padding-bottom: 20px;

		i {
			position: absolute;
			top: 2px;
			left: -34px;
		}
	}
}

/* goTop 버튼 */
.btn_gotop {
	display: none;

	@media (max-width: 575.98px) {
		position: fixed;
		bottom: 80px;
		right: 10px;
		z-index: 9999;
	}
}

/* 정보뷰영역 공통 관련 */
.info_area {
	text-align: left;

	.form-group.row {
		margin-bottom: 1px;

		.btn {
			font-size: 14px;
		}

		.exp_txt,
		.exp_text {
			position: absolute;
			padding-left: 15px;
			left: 0;
			width: 100%;
			font-size: 12px;
			color: theme.$text_unselected_color;
		}

		>label {
			position: relative;
			padding-top: 3px;
			padding-bottom: 3px;
			margin-right: 0;
			font-weight: 500;
			line-height: 40px;
			letter-spacing: -.5px;

			.exp_txt,
			.exp_text {
				top: 20px;
			}
		}

		>label+div {
			position: relative;
			// display: flex;
			// align-items: center;
			vertical-align: middle;
			padding-top: 3px;
			padding-bottom: 3px;
			font-size: 14px;
			font-weight: 400;
			line-height: normal;
			line-height: 40px;

			.group {
				position: relative;
				height: auto;
				// overflow: hidden;
				display: flex;
				flex-direction: column;
			}

			.btn+.btn {
				margin-left: 5px;
			}

			.exp_txt,
			.exp_text {
				// top: 35px;
				line-height: initial;
				bottom: -5px;
			}

			.form_calendar {
				width: calc(100% - 45px);
			}

			.form_calendar+.btn {
				margin-top: -2px;
			}
		}

		.btn+.dropdown .dropdown-toggle {
			height: 40px;
			margin-top: -5px;
		}
	}

	.form-control {
		display: inline-block;
	}

	.custom-control,
	.form-check {
		height: 24px;
		line-height: 24px;
	}

	.custom-control-label,
	.form-check-label {
		height: 24px;
		line-height: 22px;
		font-size: 12px;
		color: #454545;
	}

	.form-check-input {
		top: 2px;
	}

	.dropdown-item {
		font-size: theme.$default_font_size -2px;
	}
}

/* 프로필 사진 */
.profile_photo {
	position: relative;
	width: 110px;
	height: 110px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-image: url(../images/sample_profile_photo.jpg);
	border-radius: 50%;
	border: 0.4px solid rgba(theme.$text_unselected_color, .4);

	@media (max-width: 991.98px) {
		margin: 0 auto;
	}

	span {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.icons_camera {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

/* 모달 관련 */
.modal-title>.info_txt {
	margin-left: 10px;
	font-size: 14px;
	font-weight: 400;
	color: #A7A9AC;
}

.modal-body .sub_title {
	margin-top: 15px;
	text-align: left;
	font-weight: theme.$font_medium;
	color: theme.$text_title_color;
}

.modal-body .image_view {
	position: relative;
	height: auto;
	overflow: hidden;

	img {
		max-width: 100%;
		height: auto;
	}
}

/* modal backdrop fix */
.modal.double {
	z-index: 1052 !important;
}

.modal-backdrop+.modal-backdrop {
	z-index: 1051 !important;
}

#modalMyinfo02,
#modalMyinfo03,
#modalMyinfo04 {
	.explainType02 a {
		cursor: pointer;
		text-decoration: none;

		i {
			margin-top: -4px;
		}
	}
}

/* swiper */
.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
	width: 30px;
	height: 30px;
}

.swiper-button-next {
	right: 2px;
}

.swiper-button-prev {
	left: 2px;
}

.swiper_vertical .swiper-button-prev {
	top: 24px;
	left: calc(50% - 14px);
	width: auto;
	height: 30px;
	align-items: flex-start;
}

.swiper_vertical .swiper-button-next {
	top: unset;
	bottom: 4px;
	right: calc(50% - 18px);
	width: auto;
	height: 30px;
	align-items: flex-end;
}

.swiper-button-next:after,
.swiper-button-prev:after {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	border-radius: 50%;
	background-color: #FFFFFF;
	background-image: url(../images/icons/icon_arrow_light1.svg);
	background-size: 16px auto;
	box-shadow: 0px 2px 3px 3px rgb(0 0 0 / 7%);
	content: '';
}

.swiper_vertical .swiper-button-prev:after {
	transform: rotate(0deg);
}

.swiper_vertical .swiper-button-next:after {
	transform: rotate(180deg);
	box-shadow: 0px -2px 3px 3px rgb(0 0 0 / 7%)
}

.swiper-button-prev:after {
	transform: rotate(270deg);
	box-shadow: -2px 0px 3px 3px rgb(0 0 0 / 7%)
}

.swiper-button-next:after {
	transform: rotate(90deg);
	box-shadow: 2px 0px 3px 3px rgb(0 0 0 / 7%)
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
	// opacity: .35;
	opacity: 0;
	cursor: auto;
	pointer-events: none;
}

/* 캘린더 type01 : 학생관리-출결팝업에 사용 */
.calendar_type01 {
	position: relative;

	.search_section,
	.move_calendar,
	.search_area {
		display: flex;
		align-items: center;
	}

	.search_section {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.search_section .move_calendar {
		margin-right: auto;

		.date_info {
			margin: 0 20px;
		}
	}

	.calendar_section {
		position: relative;
		height: 568px;
		overflow-y: auto;

		.calendar_area {
			position: relative;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			border-bottom: .4px solid rgba(theme.$text_unselected_color, .3);

			.tit_time {
				background-color: theme.$color_background;
				font-size: 14px;
				border-right: .4px solid rgba(theme.$text_unselected_color, .3);

				@media (max-width: 767.98px) {
					font-size: 10px;
				}

				.tit_week {
					border-right: none;
				}

				.tit_week>span {
					visibility: hidden;
				}

				.half-hour {
					border: none;
					width: 53px;
					padding: 0 10px;

					@media (max-width: 767.98px) {
						width: 18px;
						padding: 0 3px;
					}
				}

				.half-hour .time {
					position: absolute;
					top: -0.5rem;
				}
			}

			.weeks {
				flex-grow: 1;
			}

			.tit_week {
				text-align: center;
				padding: 10px 0 7px;
				// height: 57px;
				font-size: 14px;
				background-color: theme.$color_background;
				border-right: .4px solid rgba(theme.$text_unselected_color, .3);

				@media (max-width: 767.98px) {
					padding: 5px 0 3px;
					font-size: 10px;
				}
			}

			.sun>.tit_week {
				color: #FB5353;
			}

			.sat>.tit_week {
				color: #2C51D7;
			}

			.half-hour {
				position: relative;
				height: 30px;
				border-top: .4px solid rgba(theme.$text_unselected_color, .1);
				border-right: .4px solid rgba(theme.$text_unselected_color, .3);

				&.lined {
					border-top: 2px solid rgba(theme.$text_unselected_color, .2);
				}
			}

			.curriculum_box {
				position: absolute;
				z-index: 1;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				top: 0;
				left: 0;
				color: #fff;
				border-radius: 5px;
				width: 134.58px;

				@media (max-width: 1199.98px) {
					width: 86px;
				}

				@media (max-width: 991.98px) {
					width: 43.14px;
				}

				&.color_light1 {
					background-color: theme.$color_light1;
				}

				&.color_emerald {
					background-color: theme.$color_emerald;
				}

				&.color_light2 {
					background-color: theme.$color_light2;
					color: #454545;
				}

				.academe {
					font-weight: 700;
					font-size: 12px;
					margin-bottom: 5px;
				}

				.enter,
				.leave {
					font-size: 10px;
					letter-spacing: .5px;
					margin-bottom: 3px;

					label {
						font-weight: 400;
						color: #454545;
						border-radius: 5px;
						background-color: theme.$color_light3;
						padding: 0 2px;
					}
				}
			}

			.weeks.today {
				.tit_week {
					background-color: theme.$color_light3;
				}

				.half-hour {
					background-color: theme.$color_light4;
				}
			}
		}
	}

	.data_prev {
		position: absolute;
		left: -45px;
		top: 45%;
	}

	.data_next {
		position: absolute;
		right: -45px;
		top: 45%;
	}
}

//캘린더 고정형min992px 관련
.web_only .calendar_type01 {
	.calendar_section {
		.calendar_area {
			.tit_time {
				@media (max-width: 767.98px) {
					font-size: 14px;
				}

				.half-hour {
					@media (max-width: 767.98px) {
						width: 53px;
						padding: 0 10px;

						.time span {
							display: initial;
						}
					}
				}
			}

			.tit_week {
				@media (max-width: 767.98px) {
					padding: 10px 0 7px;
					// height: 57px;
					font-size: 14px;
				}
			}

			.curriculum_box {
				@media (max-width: 1199.98px) {
					width: 108px;
				}
			}
		}
	}

	.data_prev {
		position: absolute;
		left: -45px;
		top: 45%;
	}

	.data_next {
		position: absolute;
		right: -45px;
		top: 45%;
	}
}

/* 캘린더 type02(테이블 형식 타입) : 강좌 강좌만들기4 팝업  */
.calendar_type02 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	margin-bottom: 15px;
	height: auto;
	overflow: hidden;

	@media (max-width: 991.98px) {
		padding: 13px;
		height: auto;
	}

	.calendar {
		.move_calendar {
			text-align: left;
			margin-bottom: 10px;

			.date_info {
				margin: 0 20px;
			}
		}

		.calendar_data {
			@include mixin.border_common;
			overflow: hidden;
		}

		.calendar_table {
			width: 100%;

			.week_tit th {
				font-weight: 500;
				font-size: 14px;
				line-height: 20px;
				padding: 6px 0;
				border-bottom: 0.4px solid rgba(167, 169, 172, .4);
				background-color: rgba(theme.$text_unselected_color, .1);

				.sun {
					color: #FB5353;
				}

				&.sun {
					color: #FB5353;
				}

				&.sat {
					color: #2C51D7;
				}
			}

			.week .calendar-day {
				position: relative;
				width: 14.28%;
				height: 90px;
				padding: 5px 0;
				color: #454545;
				font-weight: 400;
				font-size: 16px;

				.daynum {
					display: inline-block;
					width: 27px;
					height: 27px;
					cursor: pointer;
				}

				&.today .daynum {
					display: inline-block;
					line-height: 27px;
					border-radius: 50%;
					background-color: theme.$color_light3;
				}

				&.active .daynum {
					display: inline-block;
					line-height: 27px;
					border-radius: 50%;
					background-color: theme.$color_light2;
				}

				&.sun {
					color: #FB5353;
				}

				&.sat {
					color: #2C51D7;
				}

				&:nth-child(even) {
					background-color: theme.$color_background;
				}

				&.calendar-other-month {
					color: theme.$text_unselected_color;
					background-color: #fff !important;
				}

				.over_num {
					position: absolute;
					width: 24px;
					height: 24px;
					top: 5px;
					right: 5px;
					border-radius: 50%;
					background-color: #E6E7E8;
					font-size: 12px;
					line-height: 24px;
					text-align: center;
					padding: unset;
				}

				.curi_box {
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					height: 18px;
					border-radius: 5px;
					background-color: theme.$color_light1;
					padding: 2px 4px;
					margin-bottom: 2px;

					.tit {
						width: 80px;
						font-size: 10px;
						line-height: 18px;
						color: #fff;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;

						@media (max-width: 991.98px) {
							width: 60px;
						}
					}

					.btn_del {
						width: 16px;
						height: 16px;
						padding: unset;
					}
				}
			}
		}
	}

	.schedule {
		background: #FFFFFF;
		border-radius: 10px;
		margin-top: 10px;
		padding: 5px 15px;

		.date {
			font-size: 14px;
			font-weight: 700;
		}

		.list_area {
			margin-top: 10px;
			height: 95px;
			overflow-y: auto;
			overflow-x: hidden;
		}

		.list_area li {
			text-align: left;
			display: flex;
			font-size: 14px;
			padding: 10px 0;
			border-top: 1px solid #E6E7E8;

			.time {
				padding: 0 10px;
			}

			.lesson_info {
				width: calc(100% - 50px);
			}

			.subject {
				@include mixin.text_ellipsis(block, 100%, 20px);
			}

			.lesson {
				font-size: 12px;
				color: theme.$text_unselected_color;

				.divid {
					border-color: theme.$text_unselected_color;
				}
			}
		}
	}
}

/* 캘린더 type03 : 출결관리-반출결 캘린더  */
.calendar_type03 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	margin-bottom: 15px;
	height: auto;
	overflow: hidden;

	@media (max-width: 991.98px) {
		padding: 13px;
		height: auto;
	}

	.calendar {
		.move_calendar {
			text-align: left;
			margin-bottom: 10px;

			.date_info {
				margin: 0 20px;
			}
		}

		.calendar_data {
			overflow: hidden;
		}

		.calendar_table {
			width: 100%;
			$height: 60px;

			.week_tit th {
				font-weight: 500;
				height: $height;
				line-height: $height;
				vertical-align: middle;
				padding: 6px 0;

				&.sun {
					color: #FB5353;
				}

				&.sat {
					color: #2C51D7;
				}
			}

			.week .calendar-day {
				position: relative;
				width: 14.28%;
				height: $height;
				line-height: $height;
				vertical-align: middle;
				padding: 5px 0;
				color: #454545;
				font-weight: 400;
				font-size: 16px;

				.daynum {
					position: relative;
					display: inline-block;
					width: $height - 10px;
					height: $height - 10px;
					line-height: $height - 10px;
					vertical-align: middle;
					border-radius: 50%;
					cursor: pointer;
				}

				.daynum.attend::before {
					position: absolute;
					content: '';
					width: 8px;
					height: 8px;
					top: 10px;
					right: 10px;
					background: theme.$color_light1;
					border-radius: 50%;
				}

				&.today .daynum {
					display: inline-block;
					background-color: #E6E7E8;
				}

				&.active .daynum {
					display: inline-block;
					color: #ffffff;
					background-color: theme.$color_light1;

					&.attend::before {
						background-color: #ffffff;
					}
				}

				&.sun {
					color: #FB5353;
				}

				&.sat {
					color: #2C51D7;
				}

				&.calendar-other-month {
					color: theme.$text_unselected_color;
					background-color: #fff !important;
				}

				.over_num {
					position: absolute;
					width: 24px;
					height: 24px;
					top: 5px;
					right: 5px;
					border-radius: 50%;
					background-color: #E6E7E8;
					font-size: 12px;
					line-height: 24px;
					text-align: center;
					padding: unset;
				}

				.curi_box {
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					height: 18px;
					border-radius: 5px;
					background-color: theme.$color_light1;
					padding: 2px 4px;
					margin-bottom: 2px;

					.tit {
						width: 80px;
						font-size: 10px;
						line-height: 18px;
						color: #fff;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;

						@media (max-width: 991.98px) {
							width: 60px;
						}
					}

					.btn_del {
						width: 16px;
						height: 16px;
						padding: unset;
					}
				}
			}
		}
	}

	.schedule {
		background: #FFFFFF;
		border-radius: 10px;
		margin-top: 10px;
		padding: 5px 15px;

		.date {
			font-size: 14px;
			font-weight: 700;
		}

		.list_area {
			margin-top: 10px;
			height: 95px;
			overflow-y: auto;
			overflow-x: hidden;
		}

		.list_area li {
			text-align: left;
			display: flex;
			font-size: 14px;
			padding: 10px 0;
			border-top: 1px solid #E6E7E8;

			.time {
				padding: 0 10px;
			}

			.lesson_info {
				width: calc(100% - 50px);
			}

			.subject {
				@include mixin.text_ellipsis(block, 100%, 20px);
			}

			.lesson {
				font-size: 12px;
				color: theme.$text_unselected_color;

				.divid {
					border-color: theme.$text_unselected_color;
				}
			}
		}
	}
}

/* IE 9+10 속성 */
@media screen and (min-width:0\0) and (min-width: 768px) {}

/* 미디어쿼리 ******************************************************/
/* Extra small devices (portrait phones, less than 576px) *********/
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, ≥576px and up) ~sm*/
@media (min-width: 576px) {
	.mobile_only {
		display: block;
	}
}

/* Medium devices (tablets, ≥768px and up) ~md*/
@media (min-width: 768px) {}

/* Large devices (desktops, ≥992px and up) ~lg*/
@media (min-width: 992px) {
	.nav_mobile {
		display: none;
	}

	.web_only .nav_web {
		display: block;
	}

	.mobile_only {
		display: none;
	}

	//반응형막기관련
}

/* Extra large devices (large desktops, ≥1200px and up) ~xl*/
@media (min-width: 1200px) {}

@media (max-width: 1199.98px) {
	.web_only .modal-xl {
		max-width: 950px;
		width: 950px;
	}

	.mobile_only {
		display: none;
	}

	//고정형min992px 관련
	.web_only .modal-lg {
		max-width: 800px;
		width: 800px;
	}

	//고정형min992px 관련
}

@media (max-width: 991.98px) {
	.nav_web {
		display: none;
	}

	.web_only .nav_web {
		display: block;
	}

	//고정형min992px 관련
	.web_only .nav_mobile {
		display: none;
	}

	//고정형min992px 관련

	/* .mobile_only {
		display: none;
	} */

	.lgW100 {
		display: block;
		width: 100%;
	}

}

/* mobile only */
@media (max-width: 767.98px) {
	.sm_hidden {
		display: none
	}

	.mdW100 {
		display: block;
		width: 100%;
	}

	//모바일 사이즈에서 width를 100%로 변경

	.web_only02 {
		display: none;
	}

	.mobile_only {
		display: block;
	}
}

/* Extra small devices (portrait phones, less than 576px) ≤xs*/
@media (max-width: 575.98px) {}

/* 학생 모바일 반응형 모바일 네비 */

.nav-item02 {
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #FFFFFF;
	border-bottom: 0.4px solid rgba(167, 169, 172, 0.4);
	height: 60px;
}

a {
	color: #303033;
	text-decoration: none;
	background-color: transparent;
	text-align: center;
}