@use "theme";
@use "mixin";

/*---------------------------------------*/
/*--------   100. main.scss   -----------*/
/*---------------------------------------*/

#popupZone {
	height: 119px;

	.w1280 {
		background: #E7EDFF;
		display: flex;
		justify-content: center;
		height: 118px;
	}

	.closeBox {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: -66px;
	}

	.today_check {
		font-size: 14px;
	}

	.banner_main {
		display: inline-block;
		width: 1280px;
		height: 118px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/banner_main.png);
		overflow: hidden;
		box-sizing: border-box;
	}

	.pop_close {
		width: 7px;
		height: 9px;
		border: 0;
		text-indent: -5000px;

		display: inline-block;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/icons/icon_close.svg);
		margin-left: 2px;
	}

	&.off {
		height: 0;
		transition: all .5s;

		.w1280 {
			display: none;
		}
	}
}

#main_content {

	.header-movie video {
		// height: 105%;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		width: 100%;
	}

	@media (min-width: 1200px) {
		.header-movie video {
			width: 100%;
			height: auto;

		}
	}

	.header-movie {
		width: 100%;
		height: calc((var(--vh, 1vh) * 85));
		overflow: hidden;
		position: relative;
	}

	@media (min-width: 769px) {
		.header-movie {
			height: 540px;
		}
	}

	.content_area {
		max-width: 100%;
		height: auto;
		margin: 0 auto;
		// overflow: auto;
		overflow-x: hidden;
	}

	.main_content_area {
		padding: 0px 0px;
	}

	#classworld {
		margin-bottom: 200px;

		@media (max-width: 575.98px) {
			margin-bottom: 0px;
		}
	}

	#extraact {
		margin-bottom: 180px;

		@media (max-width: 575.98px) {
			margin-bottom: 0px;
		}
	}

	.main01 {
		justify-content: center;
		margin: 130px 0px;
	}

	.main01_1 {
		margin-bottom: 10px;
	}

	.main01_left {
		padding: 80px 10px;
	}

	.main01_img {
		display: inline-block;
		width: 485px;
		height: 368px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/main01_img.png);
	}

	.main_tit04 {
		font-weight: 500;
		font-size: 25px;
		line-height: 36px;
	}

	.main_tit {
		font-weight: 700;
		font-size: 55px;
		line-height: 80px;
		margin-bottom: 10px;
		text-align: center;
	}

	.font_bold {
		font-weight: 700;
		font-size: 25px;
		line-height: 36px;
	}

	.main02_bg {
		z-index: -10;
		width: 100%;
		height: 1010px;
		background: #E7EDFF;
		margin-bottom: 60px;
		padding-top: 60px;
	}

	.main02_cnt {
		height: 560px;
		margin-bottom: 60px;
	}

	.main02_img {
		//display: inline-block;
		width: 600px;
		height: 290px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/main02_img.png);
		display: flex;
		margin: 40px auto;
	}

	.main02_1 {
		justify-content: center;
		gap: 30px;
		width: 100%;
	}

	.main_circle {
		width: 82px;
		height: 82px;
		background: linear-gradient(360deg, #2C51D7 0%, #4FCED0 100%);
		border-radius: 50px;
		position: absolute;
		top: -45px;
		left: 125px;
		display: flex;
		justify-content: center;
		align-items: center;
	}


	.circle_num {
		font-weight: 500;
		font-size: 40px;
		align-items: center;
		color: #FFFFFF;
	}

	.main02_card {
		width: 340px;
		height: 350px;
		background: #FFFFFF;
		border-radius: 40px;
		position: relative;
		padding: 70px 60px;
	}

	.main_body {
		font-weight: 400;
		font-size: 24px;
		line-height: 41px;
	}

	.blue_bold {
		font-weight: 700;
		font-size: 24px;
		line-height: 41px;
		color: #2C51D7;
	}

	.main03 {
		margin-top: 60px;
	}

	.main_con {
		font-weight: 400;
		font-size: 24px;
		line-height: 35px;
		text-align: center;
		margin: 20px 0px;
		padding: 0 350px;
	}

	.main03_img1 {
		display: inline-block;
		width: 439px;
		height: 290px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/main03_img1.png);
	}

	.main03_img2 {
		display: inline-block;
		width: 439px;
		height: 290px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/main03_img2.png);
	}

	.main03_img3 {
		display: inline-block;
		width: 439px;
		height: 290px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/main03_img3.png);
	}

	.main03_img4 {
		display: inline-block;
		width: 439px;
		height: 290px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/main03_img4.png);
	}

	.main03_img5 {
		display: inline-block;
		width: 439px;
		height: 290px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/main03_img5.png);
	}

	.main03_img6 {
		display: inline-block;
		width: 439px;
		height: 290px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/main03_img6.png);
	}

	.slick-list {
		margin: 40px 0;
	}

	.slick-prev {
		display: inline-block;
		width: 30px;
		height: 30px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		border-radius: 50%;
		background-color: #FFFFFF;
		background-image: url(../images/icons/icon_arrow_light1.svg);
		background-size: 16px auto;
		transform: rotate(-90deg);
		box-shadow: -2px 0px 3px 3px rgb(0 0 0 / 7%);
		position: absolute;
		top: 43%;
		left: 31.9%;
		z-index: 100;
	}

	.slick-next {
		display: inline-block;
		width: 30px;
		height: 30px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		border-radius: 50%;
		background-color: #FFFFFF;
		background-image: url(../images/icons/icon_arrow_light1.svg);
		background-size: 16px auto;
		transform: rotate(90deg);
		box-shadow: 2px 0px 3px 3px rgb(0 0 0 / 7%);
		position: absolute;
		top: 43%;
		right: 32.4%;
	}

	.slick-arrow {
		border: none;
		text-indent: -9999px;
		overflow: hidden;
	}

	.slick-dots {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
	}

	.slick-dots li {
		float: left;
		list-style: none;
		border: none;
		margin: 0 5px;
		width: 9px;
		height: 9px;
	}

	.slick-dots li button {
		background: url(../images/icon_slider_circle_off.png) no-repeat 0 0;
		text-indent: -9999px;
		overflow: hidden;
		border: none;
	}

	.slick-dots .slick-active button {
		background: url(../images/icon_slider_circle_on.png) no-repeat 0 0;
	}

	.main_tit02 {
		font-weight: 500;
		font-size: 33px;
		line-height: 48px;
		text-align: center;
		margin-bottom: 10px;
		padding-top: 80px;
	}

	.main_tit03 {
		font-weight: 700;
		font-size: 33px;
		line-height: 48px;
		margin-bottom: 10px;
		text-align: left;
	}

	.main_con02 {
		font-weight: 400;
		font-size: 24px;
		line-height: 35px;
		margin-top: 10px;
	}

	.gradient_bar01 {
		width: 563px;
		height: 13px;
		background: linear-gradient(90deg, #2C51D7 0%, #4FCED0 100%);
		border-radius: 50px;
		margin: 0 auto;
	}

	.main04 {
		margin-top: 60px;
		width: 100%;
		height: 2070px;
		background: #E7EDFF;
	}

	.main04_1 {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 60px;
	}

	.main04_2 {
		display: flex;
		flex-flow: column;
		align-items: center;
		margin-top: 80px;
	}

	.main04_img_set {
		margin-top: 40px;
		display: flex;
		gap: 25px;
	}

	.main04_img1 {
		display: inline-block;
		width: 485px;
		height: 368px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/main04_img1.png);
	}

	.main04_img2 {
		display: inline-block;
		width: 342px;
		height: 342px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/main04_img2.png);
	}


	.main04_img3 {
		display: inline-block;
		width: 342px;
		height: 342px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/main04_img3.png);
	}


	.main04_img4 {
		display: inline-block;
		width: 342px;
		height: 342px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/main04_img4.png);
	}

	.main04_3 {
		margin-top: 100px;
		display: flex;
		flex-flow: column;
		align-items: center;
	}


	.main04_img5 {
		display: inline-block;
		width: 76%;
		height: 428px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/main04_img5.png);
		margin-top: 40px;
	}

	.main05 {
		margin-top: 60px;
	}

	.main05_img_set {
		display: flex;
		gap: 30px;
		justify-content: center;
		margin: 60px 0;
	}

	.main05_img1 {
		display: inline-block;
		width: 192px;
		height: 192px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/main05_img1.png);
	}

	.main05_img2 {
		display: inline-block;
		width: 192px;
		height: 192px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/main05_img2.png);
	}

	.main05_img3 {
		display: inline-block;
		width: 192px;
		height: 192px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/main05_img3.png);
	}

	.main05_img4 {
		display: inline-block;
		width: 192px;
		height: 192px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/main05_img4.png);
	}

	.main05_img5 {
		display: inline-block;
		width: 192px;
		height: 192px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/main05_img5.png);
	}

	.main06 {
		margin-top: 100px;
		margin-bottom: 120px;
	}

	.main_tit_sec {
		display: flex;
		width: 75%;
		justify-content: center;
		align-items: center;
		margin: 10px auto;
	}

	.main_more {
		margin-left: auto;
		font-weight: 500;
		font-size: 24px;
		line-height: 35px;
		text-align: center;
		color: #7391FA;
		cursor: pointer;
	}

	.main_notice_cnt {
		border-bottom: 1px solid #D1D3D4;
		width: 75%;
		margin: 0 auto;
		padding: 20px 30px;
		display: flex;
		cursor: pointer;
		text-decoration: none;
	}

	.main_notice_tit01 {
		font-weight: 500;
		font-size: 24px;
		line-height: 35px;
		align-items: center;
		color: #A7A9AC;
		margin-right: 20px;
		width: 10%;
		margin-left: -11px;
	}

	.main_notice_tit02 {
		font-weight: 500;
		font-size: 24px;
		line-height: 35px;
		align-items: center;
		color: #454545;
	}

	.main_notice_tit03 {
		font-weight: 400;
		font-size: 20px;
		line-height: 29px;
		text-align: right;
		color: #A7A9AC;
		margin-left: auto;
	}

	.icons_plus_circle_on {
		margin-right: 5px;
		margin-top: -4px;
	}

	.gradient_bar02 {
		width: 815px;
		height: 13px;
		background: linear-gradient(90deg, #2C51D7 0%, #4FCED0 100%);
		border-radius: 50px;
		margin: 0 auto;
	}

	.btn_gotop {
		position: fixed;
		bottom: 80px;
		right: 10px;
		z-index: 9999;
	}

	@media (max-width: 1199.98px) {

		.main02_card {
			width: 267px;
			height: 350px;
			border-radius: 30px;
			padding: 65px 50px;
		}

		.main_body {
			font-size: 20px;
			line-height: 36px;
		}

		.main_con {
			font-size: 20px;
			line-height: 36px;
		}

		.blue_bold {
			font-size: 20px;
			line-height: 36px;
		}

		.main_circle {
			left: 94px;
		}

		.main04_img1 {
			width: 415px;
		}

		.main_con02 {
			font-size: 20px;
			line-height: 36px;
		}

		.main04_img2,
		.main04_img3,
		.main04_img4 {
			width: 270px;
		}

		.main04_img5 {
			width: 86%;
			margin-top: 0px;
		}

		.main04 {
			height: 1950px;
		}

		.main05_img1,
		.main05_img2,
		.main05_img3,
		.main05_img4,
		.main05_img5 {
			width: 162px;
			height: 162px;
		}

		.main05_img_set {
			gap: 20px;
		}

		.main_con {
			padding: 0 160px;
		}
	}

	@media (max-width: 575.98px) {
		.header-movie video {
			width: 220%;
			height: 150%;
		}

		.main01 {
			margin: 0px 0px;
		}

		.main01_left {
			padding: 0px 0px;
		}

		.main_tit04 {
			font-size: 18px;
			line-height: 30px;
		}

		.font_bold {
			font-size: 20px;
			line-height: 36px;
		}

		.gradient_bar01 {
			width: 100%;
		}

		.main_tit {
			font-size: 25px;
			line-height: 38px;
		}

		.main01_img {
			width: 90%;
		}

		.main02_img {
			width: 90%;
			height: 228px;
			margin: 0 auto;
		}

		.main_body {
			font-size: 16px;
			line-height: 30px;
		}

		.blue_bold {
			font-size: 16px;
			line-height: 30px;
		}

		.main_con {
			font-size: 16px;
			line-height: 30px;
			padding: 0 40px;
		}

		.main02_card {
			width: 80%;
			height: 200px;
			padding: 45px 50px;
		}

		.main_circle {
			width: 52px;
			height: 52px;
			left: 135px;
			top: -25px;
		}

		.main02_1 {
			gap: 40px;
			width: 107%;
		}

		.circle_num {
			font-size: 26px;
		}

		.main02_bg {
			padding-top: 40px;
			height: 1100px;
		}

		.main_tit02 {
			font-size: 20px;
			line-height: 26px;
		}

		.main_tit {
			font-size: 25px;
			line-height: 38px;
			padding: 5px 10px;
		}

		.gradient_bar01 {
			width: 90%;
		}

		.gradient_bar02 {
			width: 90%;
			height: 13px;
			background: linear-gradient(90deg, #2C51D7 0%, #4FCED0 100%);
			border-radius: 50px;
			margin: 0 auto;
		}

		.main01_1 {
			margin-bottom: 10px;
			padding: 0px 20px;
		}

		p {
			text-align: center;
		}

		.main04_1 {
			display: flex;
			flex-flow: column;
		}

		.main_tit03 {
			font-size: 22px;
			line-height: 48px;
			text-align: center;
		}

		.main_con02 {
			font-size: 16px;
			line-height: 30px;
			text-align: center;
			margin: 0 15px;
		}

		.main04_img1 {
			width: 90%;
		}

		.main04_img_set {
			margin-top: 40px;
			display: flex;
			flex-flow: column;
		}

		.main04_img2,
		.main04_img3,
		.main04_img4 {
			height: 272px;
		}

		.main04_2 {
			margin-top: 0px;
		}

		.main04_img5 {
			height: 188px;
		}

		.main04 {
			height: 2320px;
		}

		.main05_img_set {
			display: flex;
			gap: 20px;
			justify-content: center;
			margin: 60px 0;
			flex-flow: wrap;
		}

		.main05_img1,
		.main05_img2,
		.main05_img3,
		.main05_img4,
		.main05_img5 {
			width: 142px;
			height: 142px;
		}

		.main_more {
			font-size: 18px;
		}

		.main_tit03 {
			margin-bottom: 0px;
		}

		.main_notice_tit01 {
			font-size: 14px;
		}

		.main_notice_tit02 {
			font-size: 14px;
			width: 68%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.main_notice_tit03 {
			font-size: 12px;
		}

		.main_notice_cnt {
			width: 100%;
			align-items: center;
		}

		.main06 {
			margin-bottom: 60px;
		}

		.icons_plus_circle_on {
			width: 18px;
			height: 18px;
		}

		.footer_bg02 {
			width: 100%;
			height: 60px;
			background: #2C51D7;
		}

		.main_tit_sec {
			width: 86%;
		}

		.main03_slider {
			width: 220%;
			left: -223px;
		}
	}
}

/* footer */
footer {
	.footer_bg {
		width: 100%;
		height: 275px;
		background: #2C51D7;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.footer_tit01,
	.footer_tit02 {
		font-weight: 700;
		font-size: 16px;
		line-height: 26px;
		color: #FFFFFF;
	}

	.footer_cnt {
		font-weight: 400;
		font-size: 16px;
		line-height: 26px;
		display: flex;
		align-items: center;
		color: #FFFFFF;
	}

	.footer01 {
		display: flex;
	}

	.footer_left {
		width: 5%;
		margin-bottom: 79px;
	}

	.footer_right {
		width: 32%;
	}

	@media (max-width: 1199.98px) {

		// .footer_left {
		// 	width: 5%;
		// 	margin-bottom: 30px;
		// }

		.footer_right {
			width: 60%;
		}
	}

	@media (min-width: 1322px) {
		.footer_right {
			width: 32%;
		}
	}

	@media (max-width: 575.98px) {
		.footer_bg02 {
			width: 100%;
			height: 62px;
			background: #2C51D7;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.footer_left {
			width: 11%;
			margin-bottom: 100px;
		}

		.footer_tit01,
		.footer_tit02 {
			font-weight: 700;
			font-size: 13px;
			line-height: 24px;
			color: #FFFFFF;
			margin-bottom: 10px;
		}

		.footer_tit01 {
			margin-bottom: 0px;
		}

		.footer_tit02 {
			margin-bottom: 21px;
		}

		.footer_cnt {
			font-size: 13px;
			line-height: 24px;
		}
	}
}

.web_only_main {
	.pagination {
		justify-content: center;
	}

	.content_area {
		padding: 30px 24px;
		background: #FFFFFF;
		border: 0.4px solid rgba(167, 169, 172, 0.4);
		border-radius: 0px 5px 5px 5px;
		margin: 0px auto;
		margin-top: 130px;

		@media (max-width: 1272px) {
			margin-top: 60px;
		}
	}

	@media (max-width: 575.98px) {

		.content_area {
			padding: 0px 0px;
			border: none;
			margin-top: 60px;
		}

		.content {
			background-color: #fff !important;
			padding: 20px 25px 30px;
		}

	}

	.nav_web {
		position: absolute;
		z-index: 1000;
		width: 100%;

		&.floatMu {
			position: fixed !important;
			top: 0;
			box-shadow: 1px 2px 8px rgba(0, 0, 0, .15);
		}
	}

	.nav_top_wrap {
		background: #fff;
	}

	.nav_sub {
		background: #fff;
		transition: all .2s;

		&.smallH {
			height: auto;
			padding: 6px 0 5px;
		}
	}

	.btn_freestart {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 8px 40px;
		gap: 10px;
		width: 100%;
		height: 59px;
		background: #7391FA;
		border-radius: 0px;

		.freestart_font {
			font-weight: 500;
			font-size: 16px;
			line-height: 23px;
			color: #FFFFFF;
		}

		.icon_home_w {
			display: inline-block;
			width: 20px;
			height: 18px;
			text-align: center;
			vertical-align: middle;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			background-image: url(../images/icon_home_w.png);
		}

		@media (max-width: 575.98px) {
			position: fixed;
			bottom: -1px;
			right: 0px;
			z-index: 9999;
		}

	}

	/* 서브페이지 - main_요금안내 */

	//요금제 박스 .plan_card 공통 이용
	.plan_card {
		position: relative;
		padding-top: 10px;

		.plan_box {
			position: relative;
			width: 280px;
			border-radius: 20px;
			box-shadow: theme.$box_shadow;
			overflow: hidden;

			.plan_tit {
				padding: 15px 0;

				.name {
					font-weight: 700;
					font-size: 24px;
				}

				.price {
					font-weight: 500;
					font-size: 20px;
				}
			}

			.btn_area {
				position: relative;
				margin: 20px 0;
				display: flex;
				flex-direction: column;
				align-items: center;

				.btn+.btn {
					margin-left: unset;
					margin-top: 10px;
				}
			}

			.detail_area {
				width: 200px;
				margin: 0 auto;
				padding: 20px 0;
				border-top: 0.4px solid rgba(167, 169, 172, .4);

				.detail_list {
					position: relative;
					margin: 0 auto 25px;
					margin-left: 70px;
					width: 130px;
					text-align: left;

					.detail_title {
						font-size: 15px;
						font-weight: 500;
						color: theme.$color_blue;
						margin-left: -20px;
					}

					.detail_info span {
						padding: 2px 4px;
						border-radius: 4px;
						background-color: #e7edff;
						color: theme.$color_blue;
						font-size: 14px;
					}

					ul.list {
						font-size: 12px;
					}
				}
			}
		}

		.popular {
			position: absolute;
			z-index: 1;
			top: -23px;
			left: calc(50% - 85px);
			width: 170px;
			height: auto;
			background: #7391FA;
			border-radius: 50px;
			padding: 10px;
			font-weight: 500;
			font-size: 14px;
			color: #fff;
			margin-top: -16px;

			&+.plan_box {
				border: 3px solid #7391FA;
				// .plan_tit { color: #fff;}
			}
		}

		&.color01 {
			.plan_tit {
				background: #E6E7E8;
			}
		}

		&.color02 {
			.plan_tit {
				background: #D1DBFF;
			}

			.btn_signup {
				border: none;
				background: #D1DBFF;
			}
		}

		&.color03 {
			.plan_tit {
				background: #7391FA;
				color: #fff;
			}

			.btn_signup {
				border: none;
				background: #7391FA;
				color: #fff;
			}
		}

		&.color04 {
			.plan_tit {
				background: #4FCED0;
				color: #fff;
			}

			.btn_signup {
				border: none;
				background: #4FCED0;
				color: #fff;
			}
		}

		&.service {
			padding-top: 20px;

			.plan_box {
				width: 400px;
			}

			.plan_tit {
				padding: 30px 0;
				margin-bottom: 30px;
				background: #7391FA;
				color: #fff;
			}

			.service {
				font-size: 18px;
			}

			.btn_signup {
				width: 140px;
				border: none;
				background: #7391FA;
				color: #fff;
				margin-bottom: 20px;
			}
		}
	}

	.rateplan_section {
		position: relative;
		text-align: center;
		min-height: 1015px;

		.mu_area {
			margin-bottom: 40px;

			ul {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			li {
				position: relative;
				width: 190px;
				text-align: center;

				&::after {
					content: '';
					position: absolute;
					top: 4px;
					right: -10px;
					@include mixin.divid_line(#454545, 30px);
					border-color: rgba(69, 69, 69, .5)
				}
			}

			li>a {
				padding: 6px 2px;
				font-size: 19px;
				line-height: 20px;
				border-radius: 0;
			}

			li.active>a,
			li:hover>a,
			li:focus>a {
				font-weight: 700;
				color: theme.$color_blue;
				box-shadow: inset 0 -10px 0 rgba(209, 219, 255);
				line-height: 20px;
			}
		}

		.plan_area {
			position: relative;
			display: flex;
			justify-content: space-around;
			margin-top: 60px;
		}

		@extend .plan_card;

		.blue_font {
			font-weight: 500;
			font-size: 30px;
			line-height: 43px;
			color: #2C51D7;
		}

		.rateplan_tit02 {
			font-weight: 500;
			font-size: 30px;
			line-height: 43px;
			color: #454545;
			padding: 0 90px;
		}

		.rateplan_tit {
			width: 100%;
			height: 133px;
			background: #E7EDFF;
			border-radius: 5px;
			justify-content: center;
			align-items: center;
			display: flex;
			margin-bottom: 40px;
		}

		@media (max-width: 575.98px) {
			.plan_card {
				padding-top: 20px;
			}

			.rateplan_tit02 {
				font-size: 16px;
				line-height: 9px;
				padding: 0 30px;
			}

			.blue_font {
				font-size: 16px;
				line-height: 43px;
			}

			.mu_area {
				display: none;
			}

			.mu_area_mb {
				display: flex;
				justify-content: center;
				gap: 20px;

				.mu_title {
					font-weight: 700;
					font-size: 20px;
					line-height: 29px;
					color: #2C51D7;
				}
			}

			.plan_area {
				flex-flow: column;
				margin-top: 0px;
			}

			.color03 {
				margin-top: 60px;
			}

			.plan_box {
				width: 100% !important;
			}

			.popular {
				margin-top: -6px;
			}

		}

		@media (min-width: 576px) {
			.mu_area_mb {
				display: none;
			}
		}
	}

	.content {
		background-color: #F9F9FB;
		padding: 20px 25px 30px;
	}

	@media (max-width: 1199.98px) {}

	/* 서브페이지 - main_사용가이드_이용방법 */
	.use_guide_set {
		.icon_teacher {
			display: inline-block;
			width: 75px;
			height: 75px;
			text-align: center;
			vertical-align: middle;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			background-image: url(../images/icon_teacher.png);
		}

		.icon_cal {
			display: inline-block;
			width: 75px;
			height: 75px;
			text-align: center;
			vertical-align: middle;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			background-image: url(../images/icon_cal.png);
		}

		.icon_inst {
			display: inline-block;
			width: 75px;
			height: 75px;
			text-align: center;
			vertical-align: middle;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			background-image: url(../images/icon_inst.png);
		}

		.icon_parstu {
			display: inline-block;
			width: 75px;
			height: 75px;
			text-align: center;
			vertical-align: middle;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			background-image: url(../images/icon_parstu.png);
		}

		.use_guide_font {
			font-weight: 500;
			font-size: 18px;
			line-height: 26px;
		}

		.use_guide_sq {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 8px 20px;
			gap: 10px;
			background: #FFFFFF;
			border: 0.4px solid #A7A9AC;
			border-radius: 50px;
			cursor: pointer;
		}

		.use_guide {
			width: 328px;
			height: 211px;
			background: #FFFFFF;
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
			border-radius: 20px;
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			gap: 10px;
		}

		.use_guide_set02 {
			display: flex;
			flex-flow: row;
			gap: 25px;
			justify-content: center;
			margin-bottom: 25px;
		}

		@media (max-width: 575.98px) {
			.use_guide_set02 {
				flex-flow: column;
				margin-top: 10px;
			}

			.use_guide {
				width: 90%;
				margin: 0 auto;

			}
		}
	}

	/* 서브페이지 - main_사용가이드_다운로드.html */
	.download_set {
		.download {
			width: 328px;
			height: 211px;
			background: #F9F9FC;
			box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
			border-radius: 20px;
			display: flex;
			flex-flow: column;
			justify-content: space-evenly;
			align-items: center;

			&:hover,
			&:focus,
			&:active {
				background: #E7EDFF;
				border: 1px solid #7391FA;
				cursor: pointer;
			}

		}

		.logo_google {
			display: inline-block;
			width: 122px;
			height: 70px;
			text-align: center;
			vertical-align: middle;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			background-image: url(../images/logo_google.png);
		}

		.logo_appstore {
			display: inline-block;
			width: 70px;
			height: 70px;
			text-align: center;
			vertical-align: middle;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			background-image: url(../images/logo_appstore.png);
		}

		.logo_windows {
			display: inline-block;
			width: 70px;
			height: 70px;
			text-align: center;
			vertical-align: middle;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			background-image: url(../images/logo_windows.png);
		}

		.logo_mac {
			display: inline-block;
			width: 58px;
			height: 68px;
			text-align: center;
			vertical-align: middle;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			background-image: url(../images/logo_mac.png);
		}

		.download_set02 {
			display: flex;
			flex-flow: row;
			gap: 25px;
			justify-content: center;
			margin-bottom: 25px;
		}

		.download_font {
			font-weight: 500;
			font-size: 16px;
			line-height: 23px;
		}

		@media (max-width: 575.98px) {
			.download_set02 {
				flex-flow: column;
				margin-top: 10px;
			}

			.download {
				width: 90%;
				margin: 0 auto;

			}
		}
	}

	/* 서브페이지 - main_프로모션_이벤트.html */
	.promotion_event_set {

		.promotion_event {
			width: 33%;
			height: 333px;
			border: 0.4px solid #D1D3D4;
			border-radius: 5px;
		}

		.promotion_event_up {
			width: 100%;
			height: 226px;
			background: #F9F9FB;
			border: 0.4px solid #D1D3D4;
			border-radius: 5px 5px 0px 0px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.promotion_event_down {
			padding: 15px 15px;
			width: 100%;
			height: 90px;
			line-height: 26px;
			/* white-space: nowrap; */
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.promotion_event_set02 {
			display: flex;
			gap: 20px;
			margin-bottom: 20px;
		}

		@media (max-width: 575.98px) {
			.promotion_event_set02 {
				flex-flow: column;
			}

			.promotion_event {
				width: 100%;
			}
		}
	}

	/* 서브페이지 - main_고객센터_공지사항.html */
	.main_notice {

		.main_table td,
		.main_table th,
		.main_table_q td,
		.main_table_q th {
			border-top: none;
			padding: 0.75rem;
			vertical-align: top;
		}

		.main_notice_tit {
			font-weight: 700;
			font-size: 16px;
			line-height: 55px;
			color: #A7A9AC;
			width: 10%;
			padding-left: 30px !important;

			@media (max-width: 575.98px) {
				width: 71px;
				padding-left: 10px;
			}
		}

		.main_notice_tit02 {
			font-weight: 700;
			font-size: 16px;
			text-align: left;
			display: inline-block;
			width: 75%;
			line-height: 26px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			@media (max-width: 1220px) {
				width: 60%;
			}

			@media (max-width: 1199.98px) {
				width: 38%;
			}

			@media (max-width: 767.98px) {
				width: 30%;
			}

			@media (max-width: 575.98px) {
				width: 32%;
			}
		}

		.main_notice_tit03 {
			font-weight: 400;
			font-size: 14px;
			line-height: 55px;
			text-align: right;
			color: #A7A9AC;
		}

		.main_notice02 {
			height: 85px;
			line-height: 55px;
			display: flex;
			align-items: center;
			width: 100%;
			border-radius: 5px;
		}

		.main_notice03 {
			border-radius: 5px;
		}

		.input-search {
			width: 30%;
		}

		.main_table {
			margin-top: 20px;
			box-shadow: 0 0 0 1px #D1D3D4;
			border-radius: 5px;
			display: flex;

			.tr_expand {
				border-top: 0.4px solid rgb(167, 169, 172);
				display: flex;
				width: 100%;

				@media (max-width: 1272px) {
					width: 68%;
				}

				@media (max-width: 1199.98px) {
					width: 100%;
				}

				@media (max-width: 767.98px) {
					width: 40%;
				}

				@media (max-width: 575.98px) {
					width: 100%;
				}
			}

			tbody {
				width: 100%;
			}
		}

		.main_table_q {
			margin-top: 20px;
			box-shadow: 0 0 0 1px #D1D3D4;
			border-radius: 5px;
			width: 100%;
			display: flex;

			.tr_expand {
				border-top: 0.4px solid rgb(167, 169, 172);
				display: flex;
				width: 92.5%;

				@media (max-width: 1272px) {
					width: 68%;
				}

				@media (max-width: 1199.98px) {
					width: 57%;
				}

				@media (max-width: 767.98px) {
					width: 40%;
				}

				@media (max-width: 575.98px) {
					width: 100%;
				}
			}

			.main_notice02 {
				width: 100%;
			}

			.main_notice_tit02 {
				font-weight: 700;
				font-size: 16px;
				text-align: left;
				display: inline-block;
				width: 75%;
				line-height: 26px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				@media (max-width: 1220px) {
					width: 60%;
				}

				@media (max-width: 1199.98px) {
					width: 38%;
				}

				@media (max-width: 767.98px) {
					width: 30%;
				}

				@media (max-width: 575.98px) {
					width: 51%;
				}
			}
		}

		.icons_arrow_dn {
			display: inline-block;
			width: 16px;
			height: 16px;
			text-align: center;
			vertical-align: middle;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
			background-image: url(../images/icons/icon_arrow.svg);
			transform: rotate(180deg);

			&:hover,
			&:focus,
			&:active {
				transform: rotate(0);
			}
		}

		@media (max-width: 575.98px) {
			.input-search {
				width: 100%;
			}
		}
	}

	/* 서브페이지 - main_고객센터_자주묻는질문.html */
	.main_qa {

		.main_notice_tit {
			width: 0%;
			padding-left: 0px;
		}

		@media (max-width: 575.98px) {
			.main_notice_tit02 {
				max-width: 150px;
			}
		}
	}

	/* 서브페이지 - main_고객센터_이용약관.html */
	.termsofuse {
		.termsofuse_font {
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: #A7A9AC;
			margin-bottom: 20px;
		}

		.termsofuse_form {
			width: 100%;
			height: 603px;
			border: 0.4px solid #A7A9AC;
			border-radius: 5px;
			margin: 0 auto;
			padding: 30px 40px;
			overflow-y: scroll;

			@media (max-width: 575.98px) {
				padding: 30px 20px;
			}
		}

		.termsofuse_form_font {
			font-weight: 400;
			font-size: 16px;
			line-height: 23px;

		}
	}

	/* 서브페이지 - main_고객센터_문의.html */
	.inquiry {

		.form_section {
			width: 50%;
			margin: 0 auto;
		}

		.title_type {
			font-weight: 700;
			font-size: 24px;
			line-height: 35px;
			display: flex;
			justify-content: center;
			margin-bottom: 30px;
		}

		.explain_text {
			font-weight: 400;
			font-size: 12px;
			line-height: 17px;
			color: #A7A9AC;
			margin-top: 5px;
		}

		.write_area {
			height: 155px;
			background: #FFFFFF;
			border: 0.4px solid rgba(167, 169, 172, 0.4);
			border-radius: 5px;
		}

		.write_area_text {
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			display: flex;
			align-items: center;
			color: #D1D3D4;
			margin-left: 10px;
			margin-top: 10px;
		}

		.personal_info {
			margin-top: 30px;
			margin-bottom: 10px;
		}

		.table-borderless {
			height: 85px;
			border-radius: 5px;
			box-shadow: 0 0 0 0.4px #A7A9AC;

			thead {
				background: #F9F9FC;
				border-radius: 5px 5px 0px 0px;
				font-weight: 500;
				font-size: 14px;
				line-height: 20px;
			}

			td {
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
			}
		}

		.attach_file {
			padding: 0 0;
		}

		.btn_submit {
			display: flex;
			margin: 0 auto;
			margin-top: 60px;
		}

		@media (max-width: 575.98px) {
			.form_section {
				width: 100%;
			}

			thead {
				float: left;
			}

			thead tr,
			thead tr th {
				display: block;
				border-bottom: 0.4px solid #A7A9AC;
			}

			thead tr:last-child,
			thead tr th:last-child {
				border-bottom: none;
			}

			tbody {
				display: block;
				overflow-x: hidden;
				white-space: nowrap;
			}

			tr {
				display: inline-block;
			}

			td {
				display: block;
				border-bottom: 0.4px solid #A7A9AC;
				min-width: 230%;
			}

			td:last-child {
				border-bottom: none;
			}

		}
	}
}