@use "theme";
@use "mixin";

/*---------------------------------------*/
/*--------   2. mypage.scss   -----------*/
/*---------------------------------------*/
.page_mypage {
	border-radius: 5px;
	border: 1px solid rgba(167, 169, 172, .2);
	background: #fff;
	padding: 40px 20px;

	@media (max-width: 991.98px) {
		@include mixin.mobile_wrap;
	}

	@media (max-width: 575.98px) {
		padding: 20px 0px;
	}

	.title {
		color: #303030;
		font-weight: 500;
		width: 100%;
		margin-left: 20px;

		@media (max-width: 991.98px) {
			display: none;
		}
	}

	.left_area {
		width: 56%;
		margin-left: 20px;
	}

	.right_area {
		width: 39%;
		margin-left: 20px;
	}

	.info_area {
		padding: 15px 50px;
		border-radius: 5px;
		border: 1px solid rgba(167, 169, 172, .5);
		background: #fff;
		margin-top: 15px;
		font-size: 14px;

		@media (max-width: 991.98px) {
			.form-group.row {
				margin-bottom: 1px;
				margin-left: 10px;
			}
		}

		@media (max-width: 575.98px) {
			padding: 15px 20px;

			.form-group.row {
				margin-bottom: 1px;
				margin-left: 10px;
			}
		}

		.friends {
			line-height: 30px;
		}
	}

	.right_square {

		@media (max-width: 575.98px) {
			.form-group.row:first-child {
				padding-top: 17px;
			}
		}
	}

	.pp_area {
		width: 33%;
		padding-left: 20px;

		@media (max-width: 991.98px) {
			width: 100%;
		}
	}

	.info_area02 {
		width: 66%;
		padding-left: 10px;

		@media (max-width: 575.98px) {
			width: 100%;
			padding-left: 10px;
		}
	}

	.info_area_title {
		width: 35%;
		margin-left: 20px;
	}

	@media (max-width: 1199.98px) {
		.info_area {
			padding: 15px 10px;
		}
	}

	@media (max-width: 991.98px) {
		.left_area {
			width: 85%;
			margin: 0 auto;
			margin-top: 20px;
		}

		.right_area {
			width: 85%;
			margin: 0 auto;
		}
	}

	@media (max-width: 575.98px) {
		.left_area {
			width: 80%;
			margin: 0 auto;
			margin-top: 60px;
		}

		.right_area {
			width: 80%;
			margin: 0 auto;
		}

		.btn_area {
			justify-content: center;
			gap: 10px;
		}

		.right_up {
			width: 110%;
			margin-left: -28px;
		}

		.right_square {
			width: 101%;
			padding: 0 15px 0 0;
		}
	}

	// 왼쪽 오른쪽 높이 조절
	.info_area.left {

		label,
		label+div {
			line-height: 47.5px;
		}
	}

	.btn_area {
		display: flex;
		align-items: center;
		margin-top: 15px;
		justify-content: space-between;
		width: 100%;
		margin-left: 20px;
		margin-right: 20px;

		@media (max-width: 575.98px) {
			justify-content: center;

			.btn:first-child {
				margin-right: 10px;
			}
		}

		@media (max-width: 991.98px) {
			justify-content: center;

			.btn:first-child {
				margin-right: 10px;
			}
		}
	}
}

/* 팝업M1-내정보수정  */

.modal_myinfo {
	$lineheight : 60px;

	.modal-body {
		@media (max-width: 575.98px) {
			padding: 20px 0;
		}
	}

	.info_area {
		width: 60%;
		margin: 0 auto;
	}

	.info_area_title {
		width: 15%;
		margin-left: 20px;
	}

	.form-group .form-inline {
		width: 68%;
	}

	.form-certifi {
		margin-top: -10px;
	}

	.form-certifi .btn_crud_point {
		width: 117px;
	}

	@media (max-width: 1199.98px) {
		.info_area {
			width: 80%;
			margin: 0 auto;
		}


	}

	@media (max-width: 991.98px) {
		.info_area {
			width: 100%;
			margin: 0 auto;
		}
	}

	@media (max-width: 575.98px) {
		.form-group .form-inline {
			width: 65%;
		}

		.form-group .btn_crud_point {
			font-size: 12px;
		}

		.form-certifi .btn_crud_point {
			width: 94px;
		}

	}

	.form-group.form-inlinebox .form-control+.btn {
		display: block;
		float: right;
		width: 95px;
		font-size: 12px;
	}

	.divid_section {
		margin: 0 50px;
		padding-bottom: 20px;
		/* border-top: 1px solid #E6E7E8; */

		@media (max-width: 991.98px) {
			margin: 0 5px;
		}

		&:first-child {
			border-top: 0;
		}
	}

	.form-group.row {
		>label {
			font-weight: 400;
			line-height: $lineheight;
		}

		>label+div {
			line-height: $lineheight;
		}

		>label+div button,
		>label+div a {
			line-height: normal;
		}
	}

	.friends {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5px 15px;
		margin-bottom: 7px;
		background-color: theme.$color-light4;
		border-radius: 5px;
		font-size: 14px;

		.frid {
			@include mixin.text_ellipsis(inline-block, 100px, 20px);

			@media (max-width: 991.98px) {
				width: calc(100% - 150px);
			}
		}

		.btn {
			height: 30px;
			padding: 0 10px;
			min-width: unset;
		}

		.btn_crud_default {
			margin-left: auto;
			margin-right: 10px;
		}
	}

	.profile_photo {
		margin: 20px auto;
	}

	.lacture_info {
		text-align: left;

		.title {
			padding: 5px 0;
			font-size: 14px;
			font-weight: 400;
		}

		.list_area {
			height: 70px;
			border: 0.4px solid rgba(167, 169, 172, .4);
			border-radius: 3px;
			padding: 15px 40px;
			overflow-y: auto;
			overflow-x: hidden;
		}

		.lacture {
			float: left;
			padding: 10px 31px;
			margin-left: 5px;
			margin-right: 5px;
			margin-bottom: 6px;
			font-weight: 400;
			font-size: 14px;
			background: #E6E7E8;
			border-radius: 5px;

			@media (max-width: 991.98px) {
				width: 100%;
			}
		}
	}

	.btn_section {
		clear: both;
		position: relative;
		height: auto;
		overflow: hidden;
		margin: 10px 40px 0;
		padding-bottom: 20px;
		display: flex;
		align-items: center;

		.exp_txt {
			font-weight: 400;
			font-size: 10px;
			line-height: 14px;
			/* Text / Unselected */
			color: #A7A9AC;
			margin-left: 10px;

			@media (max-width: 991.98px) {
				display: none;
			}
		}

		.btn_crud_point {
			margin-left: auto;
		}
	}

	.left_area .info_area .form-group.row .exp_txt02 {
		position: absolute;
		padding-left: 15px;
		left: -18px;
		width: 100%;
		font-size: 12px;
		color: #A7A9AC;
		line-height: initial;
		bottom: 6px;
	}

}

/* jeh-2022.08.30 시작 */

/* 공통 */
.right_square {
	/* width: 376px; */
	height: 297px;
	left: 765px;
	top: 460px;
	padding: 14px 20px;
	background: #F9F9FC;
	border-radius: 5px;
}

.right_up {
	padding: 15px 22px;
}

.btn_crud_default_w {
	align-items: center;
	min-width: 100px;
	height: 40px;
	padding: 7px 10px;
	gap: 10px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 400;
	background: #FFFFFF;
	;
	border: 0.4px solid #D1D3D4;
	color: #454545;
}

.modal-content.btn_crud_default {
	min-width: 50px;
}

.btn_crud_point_center {
	margin: auto;
	align-items: center;
	min-width: 140px;
	height: 40px;
	padding: 7px 10px;
	gap: 10px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 400;
	background: #7391FA;
	color: #FFFFFF;
	font-weight: 500;

	&:hover,
	&:focus,
	&:active {
		background: theme.$color_blue;
		color: theme.$color_white;
		font-weight: theme.$font_medium;
	}
}

// .modal-dialog.common {
// 	@media (min-width: 576px) {
// 		margin: 18.75rem auto;
// 	}
// }

/* 학원관리자 - 선생님 */
/* .page_mypage.teacher .info_area.right {
	padding: 15px 50px 268px 50px;
} */

/* 학원관리자 - 선생님, 프랜관리자 */
.page_mypage.teacher_fran .info_area .form-group.row>label+div {
	line-height: 47.5px;
}

.page_mypage.teacher_fran .info_area .form-group.row>label {
	position: relative;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right: 0;
	font-weight: 500;
	line-height: 47px;
	letter-spacing: -0.5px;
}

/* 학원관리자 - 교육기관장(개설후) */
.page_mypage.edu_head_aft .right_square {
	height: 278px;
}

/* 학원관리자 - 교육기관장(개설전) */
.page_mypage.edu_head_bef .right_square {
	height: 134px;
}

.right_down {
	padding: 15px 25px;
}

.right_area .right {
	height: 97%;
}

// .page_mypage.edu_head_bef .info_area.right {
// 	padding: 15px 50px 25px 50px;
// }

/* 프랜차이즈 - 프랜차이즈 관리자 */
.page_mypage.fran_man .info_area .form-group.row>label+div {
	line-height: 47.5px;
}

.page_mypage.fran_man .info_area .form-group.row>label {
	position: relative;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right: 0;
	font-weight: 500;
	line-height: 47px;
	letter-spacing: -0.5px;
}

/* jeh-2022.08.30 끝 */


/* jeh-2022.08.31 시작 */

.modal-content.student .input-group.input-search .form-control {
	width: 113%;
}

.modal-content.student .input-group.input-search .input-group-append {
	right: -18px;
}

.btn_crud_default {
	min-width: 40px;
}

/* jeh-2022.08.31 끝 */

/* jeh-2022.09.01 시작 */

/* 프랜 - 프랜관리자 비밀번호 변경 팝업창 */
#modalPwchange {
	.icons_eye_off {
		position: absolute;
		z-index: 10;
		cursor: pointer;
		bottom: 16px;
		right: 23px;
	}

	.icons_eye_on {
		position: absolute;
		z-index: 10;
		cursor: pointer;
		bottom: 16px;
		right: 23px;
	}

	.icons_eye_off2 {
		position: absolute;
		z-index: 10;
		cursor: pointer;
		bottom: 33px;
		right: 23px;
		display: inline-block;
		width: 20px;
		height: 14px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/icons/icon_eye_off.svg);

		/* @media (max-width: 360px) {
			bottom: 48px;
		} */

		// @media (max-width: 575.98px) {
		// 	bottom: 33px;
		// }
	}

	.icons_eye_on2 {
		position: absolute;
		z-index: 10;
		cursor: pointer;
		bottom: 33px;
		right: 23px;
		display: inline-block;
		width: 20px;
		height: 14px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/icons/icon_eye_on.svg);
	}

	.icons_eye_off3 {
		position: absolute;
		z-index: 10;
		cursor: pointer;
		bottom: 34px;
		right: 23px;
		display: inline-block;
		width: 20px;
		height: 14px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/icons/icon_eye_off.svg);
	}

	.icons_eye_on3 {
		position: absolute;
		z-index: 10;
		cursor: pointer;
		bottom: 34px;
		right: 23px;
		display: inline-block;
		width: 20px;
		height: 14px;
		text-align: center;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		background-image: url(../images/icons/icon_eye_on.svg);
	}

	.hide {
		display: none;
	}

	.page_mypage .info_area {
		padding: 15px 35px;
	}

	.form-control {
		height: 39px;
		padding: 10px;
		font-size: 14px;
		border-radius: 5px;
		border-color: rgba(167, 169, 172, 0.4);
		border-width: 0.4px;
		position: relative;
	}

	.explainType01 {
		display: inline-block;
		margin: 0 auto;
		padding: 15px 78px;
		margin-top: 40px;
		margin-bottom: 10px;
		background-color: #F9F9FB;
		border-radius: 5px;
		text-align: center;
		font-size: 12px;
	}

	.invalid_text01 {
		margin-top: 3px;
		line-height: initial;
		font-size: 10.5px;
		color: #FB5353;
		text-align: left;
	}

	.invalid_text02 {
		margin-top: 3px;
		line-height: initial;
		font-size: 10.5px;
		color: #FB5353;
		text-align: left;
	}

	.info_area {
		margin: 0px 35px;
	}

	.form_password .icons_eye_off2 {
		position: absolute;
		z-index: 200;
		cursor: pointer;
		bottom: 16px;
		right: 23px;
	}

	.info_area_title {
		width: 30%;

		@media (max-width: 575.98px) {
			width: 100%;
		}
	}

	@media (max-width: 575.98px) {
		.explainType01 {
			padding: 15px 30px 15px 30px;
			margin-left: -15px;
			margin-right: 12px;
		}
	}

	.info_area .form-group .col {
		margin-left: -14px;
	}
}

/* jeh-2022.09.01 끝 */

/* jeh-2022.09.02 시작 */

/* 팝업 M2-교육기관정보수정1 */
#modalInstinfo01 {
	.outer2 {
		margin: 22px auto;
		width: 140px;
		height: 140px;
		background-color: theme.$color_white;
		border: 0.4px solid theme.$text_unselected_color;
		border-radius: 5px;
	}

	.thumbnail_area {
		position: relative;
		left: -16px;
		top: -35px;
		// width: 498px;
		width: calc(100% + 31px);
		height: 239px;
		background: theme.$color_background;
	}

	.icons_thumbnail {
		display: inline-block;
		width: 78px;
		height: 78px;
		position: relative;
		top: 29px;
		/* text-align: initial; */
		/* vertical-align: -webkit-baseline-middle; */
		/* background-repeat: no-repeat; */
		/* background-position: center; */
		/* background-size: contain; */
		background-image: url(../images/icons/icon_thumbnail.svg);
	}

	.icons_camera_gray {
		position: absolute;
		left: 13px;
		top: 10px;
	}

	.icons_camera {
		position: relative;
		left: 50px;
		top: 157px;
	}

	.form-group {
		text-align: left;
		padding: 0px 60px;

		@media (max-width: 575.98px) {
			padding: 0px 30px;
		}
	}

}

/* 팝업 M2-교육기관정보수정2 - 로고업로드1 */
#modalInstinfo02 {
	.explainType01 {
		display: inline-block;
		margin: 0 auto;
		padding: 30px 75px;
		margin-top: -5px;
		margin-bottom: 10px;
		background-color: #F9F9FB;
		border-radius: 5px;
		text-align: center;
		font-size: 12px;
	}

	.explainType01 span {
		color: theme.$color_light1 ;
	}

	.explainType02 {
		display: inline-block;
		margin: 0 auto;
		padding: 120px 144px;
		margin-top: -5px;
		margin-bottom: 10px;
		background-color: #F9F9FB;
		border-radius: 5px;
		text-align: center;
		font-size: 12px;

		@media (max-width: 575.98px) {
			padding: 120px 94px;
		}
	}

	.explainType02 a {
		color: theme.$text_default_color;
		font-size: 14px;
		text-decoration: none;
		cursor: pointer;

		i {
			vertical-align: middle;
			margin-top: -5px;
		}
	}

	.btn_section {
		margin: 20px 0px;
	}

	.btn_sec {
		min-width: 195px;
		margin: 0.25rem;

		@media (max-width: 575.98px) {
			min-width: 124px;
		}
	}
}

/* jeh-2022.09.02 끝 */

/* jeh-2022.09.05 시작 */

/* 팝업 M2-교육기관정보수정3 - 로고업로드2 */
#modalInstinfo03 {
	.explainType01 {
		display: inline-block;
		margin: 0 auto;
		padding: 30px 75px;
		margin-top: -5px;
		margin-bottom: 10px;
		background-color: #F9F9FB;
		border-radius: 5px;
		text-align: center;
		font-size: 12px;
	}

	.explainType01 span {
		color: theme.$color_light1 ;
	}

	.explainType02 {
		display: inline-block;
		margin: 0 auto;
		padding: 120px 150px;
		margin-top: -5px;
		margin-bottom: 10px;
		background-color: #F9F9FB;
		border-radius: 5px;
		text-align: center;
		font-size: 12px;
	}

	.btn_section {
		margin: 20px 0px;
	}

	.btn_sec {
		min-width: 195px;
		margin: 0.25rem;

		@media (max-width: 575.98px) {
			min-width: 140px;
		}
	}

	.thumbnail {
		width: 402px;
		height: 270px;
		background: #A7A9AC;
		border-radius: 5px;
		justify-content: center;
		display: flex;
		margin: -10px 32px;
		align-items: center;
		position: relative;

		@media (max-width: 575.98px) {
			width: 97%;
			margin: 0 auto;
		}
	}

	.sample_uplodeimg {
		height: 140px;
		width: 140px;
		background-image: url(../images/sample_uplodeimg.jpg);
		background-size: cover;
		border-radius: 5px;
	}

	.box_set {
		width: 140px;
		height: 28px;
		display: flex;
		position: absolute;
		top: 0;
		right: 0;
	}

	.box1 {
		width: 28px;
		height: 28px;
		border-radius: 0px;
		background-image: url(../images/icon_box_zoomin_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_zoomin_on.png);
		}
	}

	.box2 {
		width: 28px;
		height: 28px;
		border-radius: 0px;
		background-image: url(../images/icon_box_zoomout_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_zoomout_on.png);
		}
	}

	.box3 {
		width: 28px;
		height: 28px;
		background-color: theme.$color_hover;
		border-radius: 0px;
		background-image: url(../images/icon_box_crop_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_crop_on.png);
		}
	}

	.box4 {
		width: 28px;
		height: 28px;
		background-color: theme.$color_hover;
		border-radius: 0px;
		background-image: url(../images/icon_box_sel_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_sel_on.png);
		}
	}

	.box4 {
		width: 28px;
		height: 28px;
		background-color: theme.$color_hover;
		border-radius: 0px;
		background-image: url(../images/icon_box_sel_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_sel_on.png);
		}
	}

	.box5 {
		width: 28px;
		height: 28px;
		background-color: theme.$color_hover;
		border-radius: 0px;
		background-image: url(../images/icon_box_refresh_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_refresh_on.png);
		}
	}

	.edit_title {
		font-family: "Noto Sans KR";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 23px;
		color: #454545;
		left: -155px;
	}

	.outer2 {
		box-sizing: border-box;
		position: relative;
		left: 2px;
		top: 11px;
		width: 140px;
		height: 140px;
		background: #FFFFFF;
		background-color: #FFFFFF;
		border: 0.4px solid #A7A9AC;
		border-radius: 5px;
	}

	.edit_result {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 25px 0px;
	}

	.icons_thumbnail {
		display: inline-block;
		width: 78px;
		height: 78px;
		position: relative;
		top: 29px;
		/* text-align: initial; */
		/* vertical-align: -webkit-baseline-middle; */
		/* background-repeat: no-repeat; */
		/* background-position: center; */
		/* background-size: contain; */
		background-image: url(../images/icons/icon_thumbnail.svg);
	}
}


/* 팝업 M2-교육기관정보수정4 - 교육기관이미지등록1 */
#modalInstinfo04 {
	.explainType01 {
		display: inline-block;
		margin: 0 auto;
		padding: 30px 75px;
		margin-top: -5px;
		margin-bottom: 10px;
		background-color: #F9F9FB;
		border-radius: 5px;
		text-align: center;
		font-size: 12px;
	}

	.explainType01 span {
		color: theme.$color_light1 ;
	}

	.explainType02 {
		display: inline-block;
		margin: 0 auto;
		padding: 120px 144px;
		margin-top: -5px;
		margin-bottom: 10px;
		background-color: #F9F9FB;
		border-radius: 5px;
		text-align: center;
		font-size: 12px;

		@media (max-width: 575.98px) {
			padding: 120px 90px;
		}
	}

	.explainType02 a {
		color: theme.$text_default_color;
		font-size: 14px;
	}

	.btn_section {
		margin: 20px 0px;
	}

	.btn_sec {
		min-width: 195px;
		margin: 0.25rem;

		@media (max-width: 575.98px) {
			min-width: 124px;
		}
	}
}

/* 팝업 M2-교육기관정보수정5 - 교육기관이미지등록2 */
#modalInstinfo05 {
	.explainType01 {
		display: inline-block;
		margin: 0 auto;
		padding: 30px 75px;
		margin-top: -5px;
		margin-bottom: 10px;
		background-color: #F9F9FB;
		border-radius: 5px;
		text-align: center;
		font-size: 12px;
	}

	.explainType01 span {
		color: theme.$color_light1 ;
	}

	.explainType02 {
		display: inline-block;
		margin: 0 auto;
		padding: 120px 150px;
		margin-top: -5px;
		margin-bottom: 10px;
		background-color: #F9F9FB;
		border-radius: 5px;
		text-align: center;
		font-size: 12px;
	}

	.btn_section {
		margin: 20px 0px;
	}

	.btn_sec {
		min-width: 195px;
		margin: 0.25rem;

		@media (max-width: 575.98px) {
			min-width: 140px;
		}
	}

	.thumbnail {
		width: 402px;
		height: 270px;
		background: #A7A9AC;
		border-radius: 5px;
		justify-content: center;
		display: flex;
		margin: -10px 32px;
		align-items: center;
		position: relative;

		@media (max-width: 575.98px) {
			width: 97%;
			margin: 0 auto;
		}
	}

	.sample_uplodeimg {
		height: 140px;
		width: 140px;
		background-image: url(../images/sample_uplodeimg.jpg);
		background-size: cover;
		border-radius: 5px;
	}

	.box_set {
		width: 140px;
		height: 28px;
		display: flex;
		position: absolute;
		right: 0;
		top: 0;
	}

	.box1 {
		width: 28px;
		height: 28px;
		border-radius: 0px;
		background-image: url(../images/icon_box_zoomin_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_zoomin_on.png);
		}
	}

	.box2 {
		width: 28px;
		height: 28px;
		border-radius: 0px;
		background-image: url(../images/icon_box_zoomout_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_zoomout_on.png);
		}
	}

	.box3 {
		width: 28px;
		height: 28px;
		background-color: theme.$color_hover;
		border-radius: 0px;
		background-image: url(../images/icon_box_crop_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_crop_on.png);
		}
	}

	.box4 {
		width: 28px;
		height: 28px;
		background-color: theme.$color_hover;
		border-radius: 0px;
		background-image: url(../images/icon_box_sel_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_sel_on.png);
		}
	}

	.box4 {
		width: 28px;
		height: 28px;
		background-color: theme.$color_hover;
		border-radius: 0px;
		background-image: url(../images/icon_box_sel_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_sel_on.png);
		}
	}

	.box5 {
		width: 28px;
		height: 28px;
		background-color: theme.$color_hover;
		border-radius: 0px;
		background-image: url(../images/icon_box_refresh_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_refresh_on.png);
		}
	}

	.edit_title {
		font-family: "Noto Sans KR";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 23px;
		color: #454545;
		left: -155px;
	}

	.outer2 {
		box-sizing: border-box;
		position: relative;
		left: 2px;
		top: 11px;
		width: 229px;
		height: 159.85px;
		background: #FFFFFF;
		background-color: #FFFFFF;
		border: 0.4px solid #A7A9AC;
		border-radius: 5px;
	}

	.edit_result {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 25px 0px;
	}

	.icons_thumbnail {
		display: inline-block;
		width: 78px;
		height: 78px;
		position: relative;
		top: 37px;
		/* text-align: initial; */
		/* vertical-align: -webkit-baseline-middle; */
		/* background-repeat: no-repeat; */
		/* background-position: center; */
		/* background-size: contain; */
		background-image: url(../images/icons/icon_thumbnail.svg);
	}

	.outer0 {
		box-sizing: border-box;
		width: 229px;
		height: 159px;
		background: rgba(255, 255, 255, 0.5);
		border: 1px solid theme.$color_white;
		border-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width: 575.98px) {
			left: 53px;
			top: 348px;
		}

		@media (max-width: 767.98px) {
			left: 153px;
			top: 298px;
		}

	}

}

/* 팝업M1-내정보수정 수정 */
#modalMyinfo {
	.profile_images_area {
		position: relative;
		width: 100%;
		height: 170px;
		background: #F9F9FC;
		display: flex;
		flex-direction: column;
		justify-content: center;

		&.student {
			background: none;
		}
	}

	.modal-body {
		padding-top: 12px;
		padding: 0rem;
	}

	// .profile_photo {
	// 	position: relative;
	// 	left: 0;
	// 	top: 10px;
	// }

	.icons_camera_gray {
		position: absolute;
		left: 10px;
		top: 10px;
	}

	// .icons_camera {
	// 	position: relative;
	// 	// left: 44px;
	// 	// top: 145px;
	// 	z-index: 99999;
	// }
}

/* 팝업 M2- 내정보 수정 - 프로필 이미지 등록1 */
#modalMyinfo02 {
	.explainType01 {
		display: inline-block;
		margin: 0 auto;
		padding: 30px 75px;
		margin-top: -5px;
		margin-bottom: 10px;
		background-color: #F9F9FB;
		border-radius: 5px;
		text-align: center;
		font-size: 12px;
	}

	.explainType01 span {
		color: theme.$color_light1 ;
	}

	.explainType02 {
		display: inline-block;
		margin: 0 auto;
		padding: 120px 144px;
		margin-top: -5px;
		margin-bottom: 10px;
		background-color: #F9F9FB;
		border-radius: 5px;
		text-align: center;
		font-size: 12px;

		@media (max-width: 575.98px) {
			padding: 120px 90px 120px 90px;
		}
	}

	.explainType02 a {
		color: theme.$text_default_color;
		font-size: 14px;
	}

	.btn_section {
		margin: 20px 0px;
	}

	.btn_sec {
		min-width: 195px;
		margin: 0.25rem;

		@media (max-width: 575.98px) {
			min-width: 114px;
		}
	}

}

#modalMyinfo03 {
	.explainType01 {
		display: inline-block;
		margin: 0 auto;
		padding: 30px 75px;
		margin-top: -5px;
		margin-bottom: 10px;
		background-color: #F9F9FB;
		border-radius: 5px;
		text-align: center;
		font-size: 12px;
	}

	.explainType01 span {
		color: theme.$color_light1 ;
	}

	.explainType02 {
		display: inline-block;
		margin: 0 auto;
		padding: 120px 150px;
		margin-top: -5px;
		margin-bottom: 10px;
		background-color: #F9F9FB;
		border-radius: 5px;
		text-align: center;
		font-size: 12px;
	}

	.btn_section {
		margin: 20px 0px;
	}

	.btn_sec {
		min-width: 195px;
		margin: 0.25rem;

		@media (max-width: 575.98px) {
			min-width: 135px;
		}
	}

	.thumbnail {
		max-width: 402px;
		height: 270px;
		background: #A7A9AC;
		border-radius: 5px;
		justify-content: center;
		align-items: center;
		display: flex;
		margin: 0 auto;
		position: relative;
	}

	.sample_uplodeimg {
		height: 140px;
		width: 140px;
		background-image: url(../images/sample_uplodeimg.jpg);
		background-size: cover;
		border-radius: 5px;
		position: relative;
		left: 12px;
		top: 65px;
	}

	.box_set {
		width: 140px;
		height: 28px;
		display: flex;
		position: absolute;
		top: 0;
		right: 0;
	}

	.box1 {
		width: 28px;
		height: 28px;
		border-radius: 0px;
		background-image: url(../images/icon_box_zoomin_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_zoomin_on.png);
		}
	}

	.box2 {
		width: 28px;
		height: 28px;
		border-radius: 0px;
		background-image: url(../images/icon_box_zoomout_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_zoomout_on.png);
		}
	}

	.box3 {
		width: 28px;
		height: 28px;
		background-color: theme.$color_hover;
		border-radius: 0px;
		background-image: url(../images/icon_box_crop_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_crop_on.png);
		}
	}

	.box4 {
		width: 28px;
		height: 28px;
		background-color: theme.$color_hover;
		border-radius: 0px;
		background-image: url(../images/icon_box_sel_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_sel_on.png);
		}
	}

	.box4 {
		width: 28px;
		height: 28px;
		background-color: theme.$color_hover;
		border-radius: 0px;
		background-image: url(../images/icon_box_sel_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_sel_on.png);
		}
	}

	.box5 {
		width: 28px;
		height: 28px;
		background-color: theme.$color_hover;
		border-radius: 0px;
		background-image: url(../images/icon_box_refresh_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_refresh_on.png);
		}
	}

	.edit_title {
		font-family: "Noto Sans KR";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 23px;
		color: #454545;
		left: -155px;
	}

	.outer2 {
		box-sizing: border-box;
		position: relative;
		left: 2px;
		top: 11px;
		width: 140px;
		height: 140px;
		background: #FFFFFF;
		background-color: #FFFFFF;
		border: 0.4px solid #A7A9AC;
		border-radius: 5px;
	}

	.edit_result {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 25px 0px;
	}

	.icons_thumbnail {
		display: inline-block;
		width: 78px;
		height: 78px;
		position: relative;
		top: 29px;
		/* text-align: initial; */
		/* vertical-align: -webkit-baseline-middle; */
		/* background-repeat: no-repeat; */
		/* background-position: center; */
		/* background-size: contain; */
		background-image: url(../images/icons/icon_thumbnail.svg);
	}
}

/* 팝업 M2- 내정보 수정 - CW 이미지 등록1 */
#modalMyinfo04 {
	.explainType01 {
		display: inline-block;
		margin: 0 auto;
		padding: 30px 75px;
		margin-top: -5px;
		margin-bottom: 10px;
		background-color: #F9F9FB;
		border-radius: 5px;
		text-align: center;
		font-size: 12px;
	}

	.explainType01 span {
		color: theme.$color_light1 ;
	}

	.explainType02 {
		display: inline-block;
		margin: 0 auto;
		padding: 120px 144px;
		margin-top: -5px;
		margin-bottom: 10px;
		background-color: #F9F9FB;
		border-radius: 5px;
		text-align: center;
		font-size: 12px;

		@media (max-width: 575.98px) {
			padding: 120px 90px 120px 90px;
		}

	}

	.explainType02 a {
		color: theme.$text_default_color;
		font-size: 14px;
	}

	.btn_section {
		margin: 20px 0px;
	}

	.btn_sec {
		min-width: 195px;
		margin: 0.25rem;

		@media (max-width: 575.98px) {
			min-width: 124px;
		}
	}

}

/* 팝업 M2- 내정보 수정 - CW 이미지 등록2 */
#modalMyinfo05 {
	.explainType01 {
		display: inline-block;
		margin: 0 auto;
		padding: 30px 75px;
		margin-top: -5px;
		margin-bottom: 10px;
		background-color: #F9F9FB;
		border-radius: 5px;
		text-align: center;
		font-size: 12px;
	}

	.explainType01 span {
		color: theme.$color_light1 ;
	}

	.explainType02 {
		display: inline-block;
		margin: 0 auto;
		padding: 120px 150px;
		margin-top: -5px;
		margin-bottom: 10px;
		background-color: #F9F9FB;
		border-radius: 5px;
		text-align: center;
		font-size: 12px;
	}

	.btn_section {
		margin: 20px 0px;
	}

	.btn_sec {
		min-width: 195px;
		margin: 0.25rem;

		@media (max-width: 575.98px) {
			min-width: 135px;
		}
	}

	.thumbnail {
		width: 402px;
		height: 270px;
		background: #A7A9AC;
		border-radius: 5px;
		justify-content: center;
		display: flex;
		margin: -10px 32px;
		align-items: center;
		position: relative;

		@media (max-width: 575.98px) {
			width: 97%;
			margin: 0 auto;
		}
	}

	.sample_uplodeimg {
		height: 140px;
		width: 140px;
		background-image: url(../images/sample_uplodeimg.jpg);
		background-size: cover;
		border-radius: 5px;
		// position: relative;
		// left: 43px;
		// top: 11px;
	}

	.box_set {
		width: 140px;
		height: 28px;
		display: flex;
		position: absolute;
		right: 0;
		top: 0;

		// @media (max-width: 575.98px) {
		// 	right: 20px;
		// 	top: 293px;
		// }

		// @media (max-width: 767.98px) {
		// 	right: 20px;
		// 	top: 240px;
		// }
	}

	.box1 {
		width: 28px;
		height: 28px;
		border-radius: 0px;
		background-image: url(../images/icon_box_zoomin_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_zoomin_on.png);
		}
	}

	.box2 {
		width: 28px;
		height: 28px;
		border-radius: 0px;
		background-image: url(../images/icon_box_zoomout_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_zoomout_on.png);
		}
	}

	.box3 {
		width: 28px;
		height: 28px;
		background-color: theme.$color_hover;
		border-radius: 0px;
		background-image: url(../images/icon_box_crop_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_crop_on.png);
		}
	}

	.box4 {
		width: 28px;
		height: 28px;
		background-color: theme.$color_hover;
		border-radius: 0px;
		background-image: url(../images/icon_box_sel_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_sel_on.png);
		}
	}

	.box4 {
		width: 28px;
		height: 28px;
		background-color: theme.$color_hover;
		border-radius: 0px;
		background-image: url(../images/icon_box_sel_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_sel_on.png);
		}
	}

	.box5 {
		width: 28px;
		height: 28px;
		background-color: theme.$color_hover;
		border-radius: 0px;
		background-image: url(../images/icon_box_refresh_off.png);
		background-size: cover;
		z-index: 9999999;

		&:hover,
		&:focus,
		&:active {
			background-image: url(../images/icon_box_refresh_on.png);
		}
	}

	.edit_title {
		font-family: "Noto Sans KR";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 23px;
		color: #454545;
		left: -155px;
	}

	.outer2 {
		box-sizing: border-box;
		position: relative;
		left: 2px;
		top: 11px;
		width: 229px;
		height: 159.85px;
		background: #FFFFFF;
		background-color: #FFFFFF;
		border: 0.4px solid #A7A9AC;
		border-radius: 5px;
	}

	.edit_result {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 25px 0px;
	}

	.icons_thumbnail {
		display: inline-block;
		width: 78px;
		height: 78px;
		position: relative;
		top: 37px;
		/* text-align: initial; */
		/* vertical-align: -webkit-baseline-middle; */
		/* background-repeat: no-repeat; */
		/* background-position: center; */
		/* background-size: contain; */
		background-image: url(../images/icons/icon_thumbnail.svg);
	}

	.outer0 {
		box-sizing: border-box;
		width: 229px;
		height: 159px;
		background: rgba(255, 255, 255, 0.5);
		border: 1px solid theme.$color_white;
		border-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width: 575.98px) {
			left: 53px;
			top: 348px;
		}

		@media (max-width: 767.98px) {
			left: 153px;
			top: 298px;
		}

	}
}

/* 팝업 M2- 내정보 수정 - 프로필 이미지 등록1 */
#modalMyinfo03 {
	.thumbnail .profile_photo {
		position: relative;
		width: 140px;
		height: 140px;
	}

	.outer2 {
		border: 0.4px solid theme.$color_white;
	}

	.outer2 .profile_photo {
		width: 140px;
		height: 140px;
	}
}

/* 마이페이지(내정보) - 학생사용자 내정보수정 + 추가수정 */
#modalMyinfo {
	.btn_activated {
		/* min-width: 70px; */
		padding: 7px 14px;
	}

	.btn_choice {
		padding: 7px 14px;
	}

	.input-group.input-search {
		width: inherit;
		position: relative;
		display: inline-block;
	}

	.modal_myinfo .lacture_info .lacture {
		float: left;
		padding: 10px 26px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 6px;
		font-weight: 400;
		font-size: 14px;
		background: #E6E7E8;
		border-radius: 5px;
	}

	.btn_crud_point {
		min-width: 40px;
	}
}

#modalMyinfo .page_mypage.student {
	.profile_photo {
		position: relative;
		left: 0;
		top: 20px;
	}

	.icons_camera {
		position: relative;
		left: 38px;
		top: 83px;
		z-index: 99999;
	}
}

/* 학생 마이페이지 - 내정보수정 - 상세  */

#modalFriendsdetail {
	.lacture {
		float: left;
		padding: 10px 26px;
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 6px;
		font-weight: 400;
		font-size: 14px;
		background: #E6E7E8;
		border-radius: 5px;
	}

	.modal-body {
		padding-top: 15px;
	}
}

/* jeh-2022.09.05 끝 */

#modalMyinfo {
	.friends .btn_crud_default {
		margin-right: 5px;
	}

}

/* 학원_마이페이지(내정보)-기관장(개설후)-edu_head_aft.html */
/* 팝업 M2-교육기관정보수정1 */

#modalInstinfo01 {
	.form-group.form-inlinebox label {
		display: block;
	}

	.form-group.form-inlinebox label+input {
		width: calc(100% - 100px);
	}

	.form-group.form-inlinebox .form-control+.btn {
		display: block;
		float: right;
		width: 95px;
		font-size: 12px;
	}
}

/* 마이페이지(내정보)-학생사용자.html */
/* 팝업M1-내정보수정 */

#modalMyinfo.madal_student,
#modalFriendsdetail {
	.left_area {
		width: 50%;
	}

	.right_area {
		width: 50%;
	}

	.info_area {
		width: 100%;
	}

	.info_area_title02 {
		width: 28%;
		margin-left: 20px;
	}

	.info_area .form-group .col {
		margin-right: 20px;
	}

	.divid_section {
		margin: 0 auto;
		padding-bottom: 20px;
		width: 90%;
	}

	.right_area .info_area .dropdown {
		width: auto;
	}

	.sub_title {
		width: 100%;
	}

	.lacture_area {
		width: 100%;
	}

	.right_area .right .form-group .form-id-search {
		width: 100%;
	}

	@media (max-width: 767.98px) {
		.left_area {
			width: 100%;
		}

		.right_area {
			width: 100%;
		}

		.info_area .form-group.row>label+div .exp_txt,
		.info_area .form-group.row>label+div .exp_text {
			letter-spacing: -1px;
		}

		.btn_section {
			margin: 10px 25px 0;
		}
	}

	@media (max-width: 991.98px) {
		.left_area {
			width: 100%;
		}

		.right_area {
			width: 100%;
		}
	}
}

/* (완)학원_마이페이지(내정보)-기관장(개설전)-edu_head_bef.html */
/* 팝업 M2- 내정보 수정 - 교육기관 정보 개설 */

#modalInstRegi {
	.section {
		width: 80%;
		margin: 0 auto;
		text-align: left;
	}

	.form-inline label {
		justify-content: flex-start;
		width: 100%;
	}

	.form-group.form-inlinebox .form-control+.btn {
		display: block;
		float: right;
		width: 95px;
		font-size: 12px;
	}

	.form-group.form-inlinebox label+input {
		width: calc(100% - 100px);
	}

	.form-inlinebox {
		width: 100%;
	}

	.form_section .btn_crud_point {
		margin-top: 20px;
		width: 100%;
	}

	.section .question_txt {
		font-size: 14px;
		margin-top: 15px;
		text-align: center;
	}
}